# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # AccountsV1AuthTokenPromotionApi
  class AccountsV1AuthTokenPromotionApi < BaseApi
    # Promote the secondary Auth Token to primary. After promoting the new
    # token, all requests to Twilio using your old primary Auth Token will
    # result in an error.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_auth_token_promotion
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/AuthTokens/Promote',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(AuthTokenPromotion.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
