# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # AccountsV1MessagingGeopermissionsApi
  class AccountsV1MessagingGeopermissionsApi < BaseApi
    # Manage Geo Permissions for each country.
    # @param [Array[Object]] permissions Required parameter: A list of objects
    # where each object represents the Geo Permission to be updated. Each object
    # contains the following fields: `country_code`, unique code for each
    # country of Geo Permission; `type`, permission type of the Geo Permission
    # i.e. country; `enabled`, configure true for enabling the Geo Permission,
    # false for disabling the Geo Permission.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_messaging_geopermissions(permissions)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PATCH,
                                     '/v1/Messaging/GeoPermissions',
                                     Server::DEFAULT)
                   .form_param(new_parameter(permissions, key: 'Permissions')
                                .is_required(true))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(MsgGeopermissions.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Manage Geo Permissions for each country.
    # @param [String] country_code Optional parameter: The country code to
    # filter the geo permissions. If provided, only the geo permission for the
    # specified country will be returned.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_messaging_geopermissions(country_code: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Messaging/GeoPermissions',
                                     Server::DEFAULT)
                   .query_param(new_parameter(country_code, key: 'CountryCode'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(MsgGeopermissions.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
