# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # AccountsV1BulkConsentsApi
  class AccountsV1BulkConsentsApi < BaseApi
    # TODO: type endpoint description here
    # @param [Array[Object]] items Required parameter: This is a list of objects
    # that describes a contact's opt-in status. Each object contains the
    # following fields: `contact_id`, which must be a string representing phone
    # number in [E.164 format](https://www.twilio.com/docs/glossary/what-e164);
    # `correlation_id`, a unique 32-character UUID used to uniquely map the
    # request item with the response item; `sender_id`, which can be either a
    # valid messaging service SID or a from phone number; `status`, a string
    # representing the consent status. Can be one of [`opt-in`, `opt-out`];
    # `source`, a string indicating the medium through which the consent was
    # collected. Can be one of [`website`, `offline`, `opt-in-message`,
    # `opt-out-message`, `others`]; `date_of_consent`, an optional datetime
    # string field in ISO-8601 format that captures the exact date and time when
    # the user gave or revoked consent. If not provided, it will be empty.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_bulk_consents(items)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Consents/Bulk',
                                     Server::DEFAULT)
                   .form_param(new_parameter(items, key: 'Items')
                                .is_required(true))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(BulkConsents.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
