# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # AccountsV1SecondaryAuthTokenApi
  class AccountsV1SecondaryAuthTokenApi < BaseApi
    # Create a new secondary Auth Token
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_secondary_auth_token
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/AuthTokens/Secondary',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(SecondaryAuthToken.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Delete the secondary Auth Token from your account
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_secondary_auth_token
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/AuthTokens/Secondary',
                                     Server::DEFAULT)
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true))
        .execute
    end
  end
end
