# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # AccountsV1SafelistApi
  class AccountsV1SafelistApi < BaseApi
    # Add a new phone number or phone number 1k prefix to SafeList.
    # @param [String] phone_number Required parameter: The phone number or phone
    # number 1k prefix to be added in SafeList. Phone numbers must be in [E.164
    # format](https://www.twilio.com/docs/glossary/what-e164).
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_safelist(phone_number)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/SafeList/Numbers',
                                     Server::DEFAULT)
                   .form_param(new_parameter(phone_number, key: 'PhoneNumber')
                                .is_required(true))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Safelist.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Check if a phone number or phone number 1k prefix exists in SafeList.
    # @param [String] phone_number Optional parameter: The phone number or phone
    # number 1k prefix to be fetched from SafeList. Phone numbers must be in
    # [E.164 format](https://www.twilio.com/docs/glossary/what-e164).
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_safelist(phone_number: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/SafeList/Numbers',
                                     Server::DEFAULT)
                   .query_param(new_parameter(phone_number, key: 'PhoneNumber'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Safelist.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Remove a phone number or phone number 1k prefix from SafeList.
    # @param [String] phone_number Optional parameter: The phone number or phone
    # number 1k prefix to be removed from SafeList. Phone numbers must be in
    # [E.164 format](https://www.twilio.com/docs/glossary/what-e164).
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_safelist(phone_number: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/SafeList/Numbers',
                                     Server::DEFAULT)
                   .query_param(new_parameter(phone_number, key: 'PhoneNumber'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true))
        .execute
    end
  end
end
