# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # AccountsV1BulkContactsApi
  class AccountsV1BulkContactsApi < BaseApi
    # TODO: type endpoint description here
    # @param [Array[Object]] items Required parameter: A list of objects where
    # each object represents a contact's details. Each object includes the
    # following fields: `contact_id`, which must be a string representing phone
    # number in [E.164 format](https://www.twilio.com/docs/glossary/what-e164);
    # `correlation_id`, a unique 32-character UUID that maps the response to the
    # original request; `country_iso_code`, a string representing the country
    # using the ISO format (e.g., US for the United States); and `zip_code`, a
    # string representing the postal code.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_bulk_contacts(items)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Contacts/Bulk',
                                     Server::DEFAULT)
                   .form_param(new_parameter(items, key: 'Items')
                                .is_required(true))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(BulkContacts.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
