# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # AccountsV1AwsApi
  class AccountsV1AwsApi < BaseApi
    # Retrieves a collection of AWS Credentials belonging to the account used to
    # make the request
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 1000.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_credential_aws(page_size: nil,
                            page: nil,
                            page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Credentials/AWS',
                                     Server::DEFAULT)
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListCredentialAwsResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Create a new AWS Credential
    # @param [String] credentials Required parameter: A string that contains the
    # AWS access credentials in the format
    # `<AWS_ACCESS_KEY_ID>:<AWS_SECRET_ACCESS_KEY>`. For example,
    # `AKIAIOSFODNN7EXAMPLE:wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY`
    # @param [String] friendly_name Optional parameter: A descriptive string
    # that you create to describe the resource. It can be up to 64 characters
    # long.
    # @param [String] account_sid Optional parameter: The SID of the Subaccount
    # that this Credential should be associated with. Must be a valid Subaccount
    # of the account issuing the request.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_credential_aws(credentials,
                              friendly_name: nil,
                              account_sid: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Credentials/AWS',
                                     Server::DEFAULT)
                   .form_param(new_parameter(credentials, key: 'Credentials')
                                .is_required(true))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .form_param(new_parameter(account_sid, key: 'AccountSid'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(CredentialAws.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Fetch the AWS credentials specified by the provided Credential Sid
    # @param [String] sid Required parameter: The Twilio-provided string that
    # uniquely identifies the AWS resource to fetch.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_credential_aws(sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Credentials/AWS/{Sid}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(CredentialAws.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Modify the properties of a given Account
    # @param [String] sid Required parameter: The Twilio-provided string that
    # uniquely identifies the AWS resource to update.
    # @param [String] friendly_name Optional parameter: A descriptive string
    # that you create to describe the resource. It can be up to 64 characters
    # long.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_credential_aws(sid,
                              friendly_name: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Credentials/AWS/{Sid}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(CredentialAws.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Delete a Credential from your account
    # @param [String] sid Required parameter: The Twilio-provided string that
    # uniquely identifies the AWS resource to delete.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_credential_aws(sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/Credentials/AWS/{Sid}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true))
        .execute
    end
  end
end
