# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # AccountsV1PublicKeyApi
  class AccountsV1PublicKeyApi < BaseApi
    # Retrieves a collection of Public Key Credentials belonging to the account
    # used to make the request
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 1000.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_credential_public_key(page_size: nil,
                                   page: nil,
                                   page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Credentials/PublicKeys',
                                     Server::DEFAULT)
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListCredentialPublicKeyResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Create a new Public Key Credential
    # @param [String] public_key Required parameter: A URL encoded
    # representation of the public key. For example, `-----BEGIN PUBLIC
    # KEY-----MIIBIjANB.pa9xQIDAQAB-----END PUBLIC KEY-----`
    # @param [String] friendly_name Optional parameter: A descriptive string
    # that you create to describe the resource. It can be up to 64 characters
    # long.
    # @param [String] account_sid Optional parameter: The SID of the Subaccount
    # that this Credential should be associated with. Must be a valid Subaccount
    # of the account issuing the request
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_credential_public_key(public_key,
                                     friendly_name: nil,
                                     account_sid: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Credentials/PublicKeys',
                                     Server::DEFAULT)
                   .form_param(new_parameter(public_key, key: 'PublicKey')
                                .is_required(true))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .form_param(new_parameter(account_sid, key: 'AccountSid'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(CredentialPublicKey.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Fetch the public key specified by the provided Credential Sid
    # @param [String] sid Required parameter: The Twilio-provided string that
    # uniquely identifies the PublicKey resource to fetch.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_credential_public_key(sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Credentials/PublicKeys/{Sid}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(CredentialPublicKey.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Modify the properties of a given Account
    # @param [String] sid Required parameter: The Twilio-provided string that
    # uniquely identifies the PublicKey resource to update.
    # @param [String] friendly_name Optional parameter: A descriptive string
    # that you create to describe the resource. It can be up to 64 characters
    # long.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_credential_public_key(sid,
                                     friendly_name: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Credentials/PublicKeys/{Sid}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(CredentialPublicKey.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Delete a Credential from your account
    # @param [String] sid Required parameter: The Twilio-provided string that
    # uniquely identifies the PublicKey resource to delete.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_credential_public_key(sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/Credentials/PublicKeys/{Sid}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true))
        .execute
    end
  end
end
