# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # ChatV3ChannelApi
  class ChatV3ChannelApi < BaseApi
    # Update a specific Channel.
    # @param [String] service_sid Required parameter: The unique SID identifier
    # of the Service.
    # @param [String] sid Required parameter: A 34 character string that
    # uniquely identifies this Channel.
    # @param [ChannelWebhookEnabledType] x_twilio_webhook_enabled Optional
    # parameter: The X-Twilio-Webhook-Enabled HTTP request header
    # @param [ChannelChannelType] type Optional parameter: The visibility of the
    # channel. Can be: `public` or `private`.
    # @param [String] messaging_service_sid Optional parameter: The unique ID of
    # the [Messaging
    # Service](https://www.twilio.com/docs/messaging/api/service-resource) this
    # channel belongs to.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_channel(service_sid,
                       sid,
                       x_twilio_webhook_enabled: nil,
                       type: nil,
                       messaging_service_sid: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v3/Services/{ServiceSid}/Channels/{Sid}',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(service_sid, key: 'ServiceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter(x_twilio_webhook_enabled, key: 'X-Twilio-Webhook-Enabled'))
                   .form_param(new_parameter(type, key: 'Type'))
                   .form_param(new_parameter(messaging_service_sid, key: 'MessagingServiceSid'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Channel.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
