# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # ConversationsV1ConversationWithParticipantsApi
  class ConversationsV1ConversationWithParticipantsApi < BaseApi
    # Create a new conversation with the list of participants in your account's
    # default service
    # @param [ChannelWebhookEnabledType] x_twilio_webhook_enabled Optional
    # parameter: The X-Twilio-Webhook-Enabled HTTP request header
    # @param [String] friendly_name Optional parameter: The human-readable name
    # of this conversation, limited to 256 characters. Optional.
    # @param [String] unique_name Optional parameter: An application-defined
    # string that uniquely identifies the resource. It can be used to address
    # the resource in place of the resource's `sid` in the URL.
    # @param [DateTime] date_created Optional parameter: The date that this
    # resource was created.
    # @param [DateTime] date_updated Optional parameter: The date that this
    # resource was last updated.
    # @param [String] messaging_service_sid Optional parameter: The unique ID of
    # the [Messaging
    # Service](https://www.twilio.com/docs/messaging/api/service-resource) this
    # conversation belongs to.
    # @param [String] attributes Optional parameter: An optional string metadata
    # field you can use to store any data you wish. The string value must
    # contain structurally valid JSON if specified.  **Note** that if the
    # attributes are not set "{}" will be returned.
    # @param [ConversationWithParticipantsState] state Optional parameter:
    # Current state of this conversation. Can be either `initializing`,
    # `active`, `inactive` or `closed` and defaults to `active`
    # @param [String] timers_inactive Optional parameter: ISO8601 duration when
    # conversation will be switched to `inactive` state. Minimum value for this
    # timer is 1 minute.
    # @param [String] timers_closed Optional parameter: ISO8601 duration when
    # conversation will be switched to `closed` state. Minimum value for this
    # timer is 10 minutes.
    # @param [String] bindings_email_address Optional parameter: The default
    # email address that will be used when sending outbound emails in this
    # conversation.
    # @param [String] bindings_email_name Optional parameter: The default name
    # that will be used when sending outbound emails in this conversation.
    # @param [Array[String]] participant Optional parameter: The participant to
    # be added to the conversation in JSON format. The JSON object attributes
    # are as parameters in [Participant
    # Resource](https://www.twilio.com/docs/conversations/api/conversation-parti
    # cipant-resource). The maximum number of participants that can be added in
    # a single request is 10.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_conversation_with_participants(x_twilio_webhook_enabled: nil,
                                              friendly_name: nil,
                                              unique_name: nil,
                                              date_created: nil,
                                              date_updated: nil,
                                              messaging_service_sid: nil,
                                              attributes: nil,
                                              state: nil,
                                              timers_inactive: nil,
                                              timers_closed: nil,
                                              bindings_email_address: nil,
                                              bindings_email_name: nil,
                                              participant: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/ConversationWithParticipants',
                                     Server::DEFAULT2)
                   .header_param(new_parameter(x_twilio_webhook_enabled, key: 'X-Twilio-Webhook-Enabled'))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .form_param(new_parameter(unique_name, key: 'UniqueName'))
                   .form_param(new_parameter(date_created, key: 'DateCreated'))
                   .form_param(new_parameter(date_updated, key: 'DateUpdated'))
                   .form_param(new_parameter(messaging_service_sid, key: 'MessagingServiceSid'))
                   .form_param(new_parameter(attributes, key: 'Attributes'))
                   .form_param(new_parameter(state, key: 'State'))
                   .form_param(new_parameter(timers_inactive, key: 'Timers.Inactive'))
                   .form_param(new_parameter(timers_closed, key: 'Timers.Closed'))
                   .form_param(new_parameter(bindings_email_address, key: 'Bindings.Email.Address'))
                   .form_param(new_parameter(bindings_email_name, key: 'Bindings.Email.Name'))
                   .form_param(new_parameter(participant, key: 'Participant'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ConversationWithParticipants.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Create a new conversation with the list of participants in your account's
    # default service
    # @param [String] chat_service_sid Required parameter: The SID of the
    # [Conversation
    # Service](https://www.twilio.com/docs/conversations/api/service-resource)
    # the Conversation resource is associated with.
    # @param [ChannelWebhookEnabledType] x_twilio_webhook_enabled Optional
    # parameter: The X-Twilio-Webhook-Enabled HTTP request header
    # @param [String] friendly_name Optional parameter: The human-readable name
    # of this conversation, limited to 256 characters. Optional.
    # @param [String] unique_name Optional parameter: An application-defined
    # string that uniquely identifies the resource. It can be used to address
    # the resource in place of the resource's `sid` in the URL.
    # @param [DateTime] date_created Optional parameter: The date that this
    # resource was created.
    # @param [DateTime] date_updated Optional parameter: The date that this
    # resource was last updated.
    # @param [String] messaging_service_sid Optional parameter: The unique ID of
    # the [Messaging
    # Service](https://www.twilio.com/docs/messaging/api/service-resource) this
    # conversation belongs to.
    # @param [String] attributes Optional parameter: An optional string metadata
    # field you can use to store any data you wish. The string value must
    # contain structurally valid JSON if specified.  **Note** that if the
    # attributes are not set "{}" will be returned.
    # @param [ServiceConversationWithParticipantsState] state Optional
    # parameter: Current state of this conversation. Can be either
    # `initializing`, `active`, `inactive` or `closed` and defaults to
    # `active`
    # @param [String] timers_inactive Optional parameter: ISO8601 duration when
    # conversation will be switched to `inactive` state. Minimum value for this
    # timer is 1 minute.
    # @param [String] timers_closed Optional parameter: ISO8601 duration when
    # conversation will be switched to `closed` state. Minimum value for this
    # timer is 10 minutes.
    # @param [String] bindings_email_address Optional parameter: The default
    # email address that will be used when sending outbound emails in this
    # conversation.
    # @param [String] bindings_email_name Optional parameter: The default name
    # that will be used when sending outbound emails in this conversation.
    # @param [Array[String]] participant Optional parameter: The participant to
    # be added to the conversation in JSON format. The JSON object attributes
    # are as parameters in [Participant
    # Resource](https://www.twilio.com/docs/conversations/api/conversation-parti
    # cipant-resource). The maximum number of participants that can be added in
    # a single request is 10.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_service_conversation_with_participants(chat_service_sid,
                                                      x_twilio_webhook_enabled: nil,
                                                      friendly_name: nil,
                                                      unique_name: nil,
                                                      date_created: nil,
                                                      date_updated: nil,
                                                      messaging_service_sid: nil,
                                                      attributes: nil,
                                                      state: nil,
                                                      timers_inactive: nil,
                                                      timers_closed: nil,
                                                      bindings_email_address: nil,
                                                      bindings_email_name: nil,
                                                      participant: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Services/{ChatServiceSid}/ConversationWithParticipants',
                                     Server::DEFAULT2)
                   .template_param(new_parameter(chat_service_sid, key: 'ChatServiceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter(x_twilio_webhook_enabled, key: 'X-Twilio-Webhook-Enabled'))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .form_param(new_parameter(unique_name, key: 'UniqueName'))
                   .form_param(new_parameter(date_created, key: 'DateCreated'))
                   .form_param(new_parameter(date_updated, key: 'DateUpdated'))
                   .form_param(new_parameter(messaging_service_sid, key: 'MessagingServiceSid'))
                   .form_param(new_parameter(attributes, key: 'Attributes'))
                   .form_param(new_parameter(state, key: 'State'))
                   .form_param(new_parameter(timers_inactive, key: 'Timers.Inactive'))
                   .form_param(new_parameter(timers_closed, key: 'Timers.Closed'))
                   .form_param(new_parameter(bindings_email_address, key: 'Bindings.Email.Address'))
                   .form_param(new_parameter(bindings_email_name, key: 'Bindings.Email.Name'))
                   .form_param(new_parameter(participant, key: 'Participant'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ServiceConversationWithParticipants.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
