# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # ConversationsV1NotificationApi
  class ConversationsV1NotificationApi < BaseApi
    # Update push notification service settings
    # @param [String] chat_service_sid Required parameter: The SID of the
    # [Conversation
    # Service](https://www.twilio.com/docs/conversations/api/service-resource)
    # the Configuration applies to.
    # @param [TrueClass | FalseClass] log_enabled Optional parameter: Weather
    # the notification logging is enabled.
    # @param [TrueClass | FalseClass] new_message_enabled Optional parameter:
    # Whether to send a notification when a new message is added to a
    # conversation. The default is `false`.
    # @param [String] new_message_template Optional parameter: The template to
    # use to create the notification text displayed when a new message is added
    # to a conversation and `new_message.enabled` is `true`.
    # @param [String] new_message_sound Optional parameter: The name of the
    # sound to play when a new message is added to a conversation and
    # `new_message.enabled` is `true`.
    # @param [TrueClass | FalseClass] new_message_badge_count_enabled Optional
    # parameter: Whether the new message badge is enabled. The default is
    # `false`.
    # @param [TrueClass | FalseClass] added_to_conversation_enabled Optional
    # parameter: Whether to send a notification when a participant is added to a
    # conversation. The default is `false`.
    # @param [String] added_to_conversation_template Optional parameter: The
    # template to use to create the notification text displayed when a
    # participant is added to a conversation and `added_to_conversation.enabled`
    # is `true`.
    # @param [String] added_to_conversation_sound Optional parameter: The name
    # of the sound to play when a participant is added to a conversation and
    # `added_to_conversation.enabled` is `true`.
    # @param [TrueClass | FalseClass] removed_from_conversation_enabled Optional
    # parameter: Whether to send a notification to a user when they are removed
    # from a conversation. The default is `false`.
    # @param [String] removed_from_conversation_template Optional parameter: The
    # template to use to create the notification text displayed to a user when
    # they are removed from a conversation and
    # `removed_from_conversation.enabled` is `true`.
    # @param [String] removed_from_conversation_sound Optional parameter: The
    # name of the sound to play to a user when they are removed from a
    # conversation and `removed_from_conversation.enabled` is `true`.
    # @param [TrueClass | FalseClass] new_message_with_media_enabled Optional
    # parameter: Whether to send a notification when a new message with
    # media/file attachments is added to a conversation. The default is
    # `false`.
    # @param [String] new_message_with_media_template Optional parameter: The
    # template to use to create the notification text displayed when a new
    # message with media/file attachments is added to a conversation and
    # `new_message.attachments.enabled` is `true`.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_service_notification(chat_service_sid,
                                    log_enabled: nil,
                                    new_message_enabled: nil,
                                    new_message_template: nil,
                                    new_message_sound: nil,
                                    new_message_badge_count_enabled: nil,
                                    added_to_conversation_enabled: nil,
                                    added_to_conversation_template: nil,
                                    added_to_conversation_sound: nil,
                                    removed_from_conversation_enabled: nil,
                                    removed_from_conversation_template: nil,
                                    removed_from_conversation_sound: nil,
                                    new_message_with_media_enabled: nil,
                                    new_message_with_media_template: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Services/{ChatServiceSid}/Configuration/Notifications',
                                     Server::DEFAULT2)
                   .template_param(new_parameter(chat_service_sid, key: 'ChatServiceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(log_enabled, key: 'LogEnabled'))
                   .form_param(new_parameter(new_message_enabled, key: 'NewMessage.Enabled'))
                   .form_param(new_parameter(new_message_template, key: 'NewMessage.Template'))
                   .form_param(new_parameter(new_message_sound, key: 'NewMessage.Sound'))
                   .form_param(new_parameter(new_message_badge_count_enabled, key: 'NewMessage.BadgeCountEnabled'))
                   .form_param(new_parameter(added_to_conversation_enabled, key: 'AddedToConversation.Enabled'))
                   .form_param(new_parameter(added_to_conversation_template, key: 'AddedToConversation.Template'))
                   .form_param(new_parameter(added_to_conversation_sound, key: 'AddedToConversation.Sound'))
                   .form_param(new_parameter(removed_from_conversation_enabled, key: 'RemovedFromConversation.Enabled'))
                   .form_param(new_parameter(removed_from_conversation_template, key: 'RemovedFromConversation.Template'))
                   .form_param(new_parameter(removed_from_conversation_sound, key: 'RemovedFromConversation.Sound'))
                   .form_param(new_parameter(new_message_with_media_enabled, key: 'NewMessage.WithMedia.Enabled'))
                   .form_param(new_parameter(new_message_with_media_template, key: 'NewMessage.WithMedia.Template'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ServiceNotification.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Fetch push notification service settings
    # @param [String] chat_service_sid Required parameter: The SID of the
    # [Conversation
    # Service](https://www.twilio.com/docs/conversations/api/service-resource)
    # the Configuration applies to.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_service_notification(chat_service_sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Services/{ChatServiceSid}/Configuration/Notifications',
                                     Server::DEFAULT2)
                   .template_param(new_parameter(chat_service_sid, key: 'ChatServiceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ServiceNotification.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
