# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # ConversationsV1ConfigurationApi
  class ConversationsV1ConfigurationApi < BaseApi
    # Fetch the global configuration of conversations on your account
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_configuration
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Configuration',
                                     Server::DEFAULT2)
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Configuration.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Update the global configuration of conversations on your account
    # @param [String] default_chat_service_sid Optional parameter: The SID of
    # the default [Conversation
    # Service](https://www.twilio.com/docs/conversations/api/service-resource)
    # to use when creating a conversation.
    # @param [String] default_messaging_service_sid Optional parameter: The SID
    # of the default [Messaging
    # Service](https://www.twilio.com/docs/messaging/api/service-resource) to
    # use when creating a conversation.
    # @param [String] default_inactive_timer Optional parameter: Default ISO8601
    # duration when conversation will be switched to `inactive` state. Minimum
    # value for this timer is 1 minute.
    # @param [String] default_closed_timer Optional parameter: Default ISO8601
    # duration when conversation will be switched to `closed` state. Minimum
    # value for this timer is 10 minutes.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_configuration(default_chat_service_sid: nil,
                             default_messaging_service_sid: nil,
                             default_inactive_timer: nil,
                             default_closed_timer: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Configuration',
                                     Server::DEFAULT2)
                   .form_param(new_parameter(default_chat_service_sid, key: 'DefaultChatServiceSid'))
                   .form_param(new_parameter(default_messaging_service_sid, key: 'DefaultMessagingServiceSid'))
                   .form_param(new_parameter(default_inactive_timer, key: 'DefaultInactiveTimer'))
                   .form_param(new_parameter(default_closed_timer, key: 'DefaultClosedTimer'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Configuration.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Fetch the configuration of a conversation service
    # @param [String] chat_service_sid Required parameter: The SID of the
    # Service configuration resource to fetch.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_service_configuration(chat_service_sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Services/{ChatServiceSid}/Configuration',
                                     Server::DEFAULT2)
                   .template_param(new_parameter(chat_service_sid, key: 'ChatServiceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ServiceConfiguration.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Update configuration settings of a conversation service
    # @param [String] chat_service_sid Required parameter: The SID of the
    # Service configuration resource to update.
    # @param [String] default_conversation_creator_role_sid Optional parameter:
    # The conversation-level role assigned to a conversation creator when they
    # join a new conversation. See [Conversation
    # Role](https://www.twilio.com/docs/conversations/api/role-resource) for
    # more info about roles.
    # @param [String] default_conversation_role_sid Optional parameter: The
    # conversation-level role assigned to users when they are added to a
    # conversation. See [Conversation
    # Role](https://www.twilio.com/docs/conversations/api/role-resource) for
    # more info about roles.
    # @param [String] default_chat_service_role_sid Optional parameter: The
    # service-level role assigned to users when they are added to the service.
    # See [Conversation
    # Role](https://www.twilio.com/docs/conversations/api/role-resource) for
    # more info about roles.
    # @param [TrueClass | FalseClass] reachability_enabled Optional parameter:
    # Whether the [Reachability
    # Indicator](https://www.twilio.com/docs/conversations/reachability) is
    # enabled for this Conversations Service. The default is `false`.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_service_configuration(chat_service_sid,
                                     default_conversation_creator_role_sid: nil,
                                     default_conversation_role_sid: nil,
                                     default_chat_service_role_sid: nil,
                                     reachability_enabled: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Services/{ChatServiceSid}/Configuration',
                                     Server::DEFAULT2)
                   .template_param(new_parameter(chat_service_sid, key: 'ChatServiceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(default_conversation_creator_role_sid, key: 'DefaultConversationCreatorRoleSid'))
                   .form_param(new_parameter(default_conversation_role_sid, key: 'DefaultConversationRoleSid'))
                   .form_param(new_parameter(default_chat_service_role_sid, key: 'DefaultChatServiceRoleSid'))
                   .form_param(new_parameter(reachability_enabled, key: 'ReachabilityEnabled'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ServiceConfiguration.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
