# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # ConversationsV1BindingApi
  class ConversationsV1BindingApi < BaseApi
    # Remove a push notification binding from the conversation service
    # @param [String] chat_service_sid Required parameter: The SID of the
    # [Conversation
    # Service](https://www.twilio.com/docs/conversations/api/service-resource)
    # to delete the Binding resource from.
    # @param [String] sid Required parameter: The SID of the Binding resource to
    # delete.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_service_binding(chat_service_sid,
                               sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/Services/{ChatServiceSid}/Bindings/{Sid}',
                                     Server::DEFAULT2)
                   .template_param(new_parameter(chat_service_sid, key: 'ChatServiceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true))
        .execute
    end

    # Fetch a push notification binding from the conversation service
    # @param [String] chat_service_sid Required parameter: The SID of the
    # [Conversation
    # Service](https://www.twilio.com/docs/conversations/api/service-resource)
    # the Binding resource is associated with.
    # @param [String] sid Required parameter: A 34 character string that
    # uniquely identifies this resource.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_service_binding(chat_service_sid,
                              sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Services/{ChatServiceSid}/Bindings/{Sid}',
                                     Server::DEFAULT2)
                   .template_param(new_parameter(chat_service_sid, key: 'ChatServiceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ServiceBinding.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Retrieve a list of all push notification bindings in the conversation
    # service
    # @param [String] chat_service_sid Required parameter: The SID of the
    # [Conversation
    # Service](https://www.twilio.com/docs/conversations/api/service-resource)
    # the Binding resource is associated with.
    # @param [Array[ServiceBindingBindingType]] binding_type Optional parameter:
    # The push technology used by the Binding resources to read.  Can be: `apn`,
    # `gcm`, `fcm`, or `twilsock`.  See [push notification
    # configuration](https://www.twilio.com/docs/chat/push-notification-configur
    # ation) for more info.
    # @param [Array[String]] identity Optional parameter: The identity of a
    # [Conversation
    # User](https://www.twilio.com/docs/conversations/api/user-resource) this
    # binding belongs to. See [access
    # tokens](https://www.twilio.com/docs/conversations/create-tokens) for more
    # details.
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 100.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_service_binding(chat_service_sid,
                             binding_type: nil,
                             identity: nil,
                             page_size: nil,
                             page: nil,
                             page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Services/{ChatServiceSid}/Bindings',
                                     Server::DEFAULT2)
                   .template_param(new_parameter(chat_service_sid, key: 'ChatServiceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(binding_type, key: 'BindingType'))
                   .query_param(new_parameter(identity, key: 'Identity'))
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListServiceBindingResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
