# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # ConversationsV1ServiceApi
  class ConversationsV1ServiceApi < BaseApi
    # Create a new conversation service on your account
    # @param [String] friendly_name Required parameter: The human-readable name
    # of this service, limited to 256 characters. Optional.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_service(friendly_name)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Services',
                                     Server::DEFAULT2)
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName')
                                .is_required(true))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Service.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Retrieve a list of all conversation services on your account
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 100.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_service(page_size: nil,
                     page: nil,
                     page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Services',
                                     Server::DEFAULT2)
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListServiceResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Remove a conversation service with all its nested resources from your
    # account
    # @param [String] sid Required parameter: A 34 character string that
    # uniquely identifies this resource.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_service(sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/Services/{Sid}',
                                     Server::DEFAULT2)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true))
        .execute
    end

    # Fetch a conversation service from your account
    # @param [String] sid Required parameter: A 34 character string that
    # uniquely identifies this resource.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_service(sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Services/{Sid}',
                                     Server::DEFAULT2)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Service.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
