# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # ConversationsV1AddressConfigurationApi
  class ConversationsV1AddressConfigurationApi < BaseApi
    # Retrieve a list of address configurations for an account
    # @param [String] type Optional parameter: Filter the address configurations
    # by its type. This value can be one of: `whatsapp`, `sms`.
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 50.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_configuration_address(type: nil,
                                   page_size: nil,
                                   page: nil,
                                   page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Configuration/Addresses',
                                     Server::DEFAULT2)
                   .query_param(new_parameter(type, key: 'Type'))
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListConfigurationAddressResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Create a new address configuration
    # @param [ConfigurationAddressType] type Required parameter: Type of
    # Address, value can be `whatsapp` or `sms`.
    # @param [String] address Required parameter: The unique address to be
    # configured. The address can be a whatsapp address or phone number
    # @param [String] friendly_name Optional parameter: The human-readable name
    # of this configuration, limited to 256 characters. Optional.
    # @param [TrueClass | FalseClass] auto_creation_enabled Optional parameter:
    # Enable/Disable auto-creating conversations for messages to this address
    # @param [ConfigurationAddressAutoCreationType] auto_creation_type Optional
    # parameter: TODO: type description here
    # @param [String] auto_creation_conversation_service_sid Optional parameter:
    # Conversation Service for the auto-created conversation. If not set, the
    # conversation is created in the default service.
    # @param [String] auto_creation_webhook_url Optional parameter: For type
    # `webhook`, the url for the webhook request.
    # @param [ConfigurationAddressMethod] auto_creation_webhook_method Optional
    # parameter: TODO: type description here
    # @param [Array[String]] auto_creation_webhook_filters Optional parameter:
    # The list of events, firing webhook event for this Conversation. Values can
    # be any of the following: `onMessageAdded`, `onMessageUpdated`,
    # `onMessageRemoved`, `onConversationUpdated`, `onConversationStateUpdated`,
    # `onConversationRemoved`, `onParticipantAdded`, `onParticipantUpdated`,
    # `onParticipantRemoved`, `onDeliveryUpdated`
    # @param [String] auto_creation_studio_flow_sid Optional parameter: For type
    # `studio`, the studio flow SID where the webhook should be sent to.
    # @param [Integer] auto_creation_studio_retry_count Optional parameter: For
    # type `studio`, number of times to retry the webhook request
    # @param [String] address_country Optional parameter: An ISO 3166-1 alpha-2n
    # country code which the address belongs to. This is currently only
    # applicable to short code addresses.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_configuration_address(type,
                                     address,
                                     friendly_name: nil,
                                     auto_creation_enabled: nil,
                                     auto_creation_type: nil,
                                     auto_creation_conversation_service_sid: nil,
                                     auto_creation_webhook_url: nil,
                                     auto_creation_webhook_method: nil,
                                     auto_creation_webhook_filters: nil,
                                     auto_creation_studio_flow_sid: nil,
                                     auto_creation_studio_retry_count: nil,
                                     address_country: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Configuration/Addresses',
                                     Server::DEFAULT2)
                   .form_param(new_parameter(type, key: 'Type')
                                .is_required(true))
                   .form_param(new_parameter(address, key: 'Address')
                                .is_required(true))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .form_param(new_parameter(auto_creation_enabled, key: 'AutoCreation.Enabled'))
                   .form_param(new_parameter(auto_creation_type, key: 'AutoCreation.Type'))
                   .form_param(new_parameter(auto_creation_conversation_service_sid, key: 'AutoCreation.ConversationServiceSid'))
                   .form_param(new_parameter(auto_creation_webhook_url, key: 'AutoCreation.WebhookUrl'))
                   .form_param(new_parameter(auto_creation_webhook_method, key: 'AutoCreation.WebhookMethod'))
                   .form_param(new_parameter(auto_creation_webhook_filters, key: 'AutoCreation.WebhookFilters'))
                   .form_param(new_parameter(auto_creation_studio_flow_sid, key: 'AutoCreation.StudioFlowSid'))
                   .form_param(new_parameter(auto_creation_studio_retry_count, key: 'AutoCreation.StudioRetryCount'))
                   .form_param(new_parameter(address_country, key: 'AddressCountry'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ConfigurationAddress.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Fetch an address configuration
    # @param [String] sid Required parameter: The SID of the Address
    # Configuration resource. This value can be either the `sid` or the
    # `address` of the configuration
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_configuration_address(sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Configuration/Addresses/{Sid}',
                                     Server::DEFAULT2)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ConfigurationAddress.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Update an existing address configuration
    # @param [String] sid Required parameter: The SID of the Address
    # Configuration resource. This value can be either the `sid` or the
    # `address` of the configuration
    # @param [String] friendly_name Optional parameter: The human-readable name
    # of this configuration, limited to 256 characters. Optional.
    # @param [TrueClass | FalseClass] auto_creation_enabled Optional parameter:
    # Enable/Disable auto-creating conversations for messages to this address
    # @param [ConfigurationAddressAutoCreationType] auto_creation_type Optional
    # parameter: TODO: type description here
    # @param [String] auto_creation_conversation_service_sid Optional parameter:
    # Conversation Service for the auto-created conversation. If not set, the
    # conversation is created in the default service.
    # @param [String] auto_creation_webhook_url Optional parameter: For type
    # `webhook`, the url for the webhook request.
    # @param [ConfigurationAddressMethod] auto_creation_webhook_method Optional
    # parameter: TODO: type description here
    # @param [Array[String]] auto_creation_webhook_filters Optional parameter:
    # The list of events, firing webhook event for this Conversation. Values can
    # be any of the following: `onMessageAdded`, `onMessageUpdated`,
    # `onMessageRemoved`, `onConversationUpdated`, `onConversationStateUpdated`,
    # `onConversationRemoved`, `onParticipantAdded`, `onParticipantUpdated`,
    # `onParticipantRemoved`, `onDeliveryUpdated`
    # @param [String] auto_creation_studio_flow_sid Optional parameter: For type
    # `studio`, the studio flow SID where the webhook should be sent to.
    # @param [Integer] auto_creation_studio_retry_count Optional parameter: For
    # type `studio`, number of times to retry the webhook request
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_configuration_address(sid,
                                     friendly_name: nil,
                                     auto_creation_enabled: nil,
                                     auto_creation_type: nil,
                                     auto_creation_conversation_service_sid: nil,
                                     auto_creation_webhook_url: nil,
                                     auto_creation_webhook_method: nil,
                                     auto_creation_webhook_filters: nil,
                                     auto_creation_studio_flow_sid: nil,
                                     auto_creation_studio_retry_count: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Configuration/Addresses/{Sid}',
                                     Server::DEFAULT2)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .form_param(new_parameter(auto_creation_enabled, key: 'AutoCreation.Enabled'))
                   .form_param(new_parameter(auto_creation_type, key: 'AutoCreation.Type'))
                   .form_param(new_parameter(auto_creation_conversation_service_sid, key: 'AutoCreation.ConversationServiceSid'))
                   .form_param(new_parameter(auto_creation_webhook_url, key: 'AutoCreation.WebhookUrl'))
                   .form_param(new_parameter(auto_creation_webhook_method, key: 'AutoCreation.WebhookMethod'))
                   .form_param(new_parameter(auto_creation_webhook_filters, key: 'AutoCreation.WebhookFilters'))
                   .form_param(new_parameter(auto_creation_studio_flow_sid, key: 'AutoCreation.StudioFlowSid'))
                   .form_param(new_parameter(auto_creation_studio_retry_count, key: 'AutoCreation.StudioRetryCount'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ConfigurationAddress.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Remove an existing address configuration
    # @param [String] sid Required parameter: The SID of the Address
    # Configuration resource. This value can be either the `sid` or the
    # `address` of the configuration
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_configuration_address(sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/Configuration/Addresses/{Sid}',
                                     Server::DEFAULT2)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true))
        .execute
    end
  end
end
