# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # ConversationsV1ParticipantConversationApi
  class ConversationsV1ParticipantConversationApi < BaseApi
    # Retrieve a list of all Conversations that this Participant belongs to by
    # identity or by address. Only one parameter should be specified.
    # @param [String] identity Optional parameter: A unique string identifier
    # for the conversation participant as [Conversation
    # User](https://www.twilio.com/docs/conversations/api/user-resource). This
    # parameter is non-null if (and only if) the participant is using the
    # Conversations SDK to communicate. Limited to 256 characters.
    # @param [String] address Optional parameter: A unique string identifier for
    # the conversation participant who's not a Conversation User. This parameter
    # could be found in messaging_binding.address field of Participant resource.
    # It should be url-encoded.
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 50.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_participant_conversation(identity: nil,
                                      address: nil,
                                      page_size: nil,
                                      page: nil,
                                      page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/ParticipantConversations',
                                     Server::DEFAULT2)
                   .query_param(new_parameter(identity, key: 'Identity'))
                   .query_param(new_parameter(address, key: 'Address'))
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListParticipantConversationResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Retrieve a list of all Conversations that this Participant belongs to by
    # identity or by address. Only one parameter should be specified.
    # @param [String] chat_service_sid Required parameter: The SID of the
    # [Conversation
    # Service](https://www.twilio.com/docs/conversations/api/service-resource)
    # the Participant Conversations resource is associated with.
    # @param [String] identity Optional parameter: A unique string identifier
    # for the conversation participant as [Conversation
    # User](https://www.twilio.com/docs/conversations/api/user-resource). This
    # parameter is non-null if (and only if) the participant is using the
    # Conversations SDK to communicate. Limited to 256 characters.
    # @param [String] address Optional parameter: A unique string identifier for
    # the conversation participant who's not a Conversation User. This parameter
    # could be found in messaging_binding.address field of Participant resource.
    # It should be url-encoded.
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 50.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_service_participant_conversation(chat_service_sid,
                                              identity: nil,
                                              address: nil,
                                              page_size: nil,
                                              page: nil,
                                              page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Services/{ChatServiceSid}/ParticipantConversations',
                                     Server::DEFAULT2)
                   .template_param(new_parameter(chat_service_sid, key: 'ChatServiceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(identity, key: 'Identity'))
                   .query_param(new_parameter(address, key: 'Address'))
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListServiceParticipantConversationResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
