# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # NotifyV1BindingApi
  class NotifyV1BindingApi < BaseApi
    # TODO: type endpoint description here
    # @param [String] service_sid Required parameter: The SID of the
    # [Service](https://www.twilio.com/docs/notify/api/service-resource) to
    # fetch the resource from.
    # @param [String] sid Required parameter: The Twilio-provided string that
    # uniquely identifies the Binding resource to fetch.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_binding(service_sid,
                      sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Services/{ServiceSid}/Bindings/{Sid}',
                                     Server::DEFAULT3)
                   .template_param(new_parameter(service_sid, key: 'ServiceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Binding.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] service_sid Required parameter: The SID of the
    # [Service](https://www.twilio.com/docs/notify/api/service-resource) to
    # delete the resource from.
    # @param [String] sid Required parameter: The Twilio-provided string that
    # uniquely identifies the Binding resource to delete.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_binding(service_sid,
                       sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/Services/{ServiceSid}/Bindings/{Sid}',
                                     Server::DEFAULT3)
                   .template_param(new_parameter(service_sid, key: 'ServiceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] service_sid Required parameter: The SID of the
    # [Service](https://www.twilio.com/docs/notify/api/service-resource) to
    # create the resource under.
    # @param [String] identity Required parameter: The `identity` value that
    # uniquely identifies the new resource's
    # [User](https://www.twilio.com/docs/chat/rest/user-resource) within the
    # [Service](https://www.twilio.com/docs/notify/api/service-resource). Up to
    # 20 Bindings can be created for the same Identity in a given Service.
    # @param [BindingBindingType] binding_type Required parameter: The transport
    # technology to use for the Binding. Can be: `apn`, `fcm`, `gcm`, `sms`, or
    # `facebook-messenger`.
    # @param [String] address Required parameter: The channel-specific address.
    # For APNS, the device token. For FCM and GCM, the registration token. For
    # SMS, a phone number in E.164 format. For Facebook Messenger, the Messenger
    # ID of the user or a phone number in E.164 format.
    # @param [Array[String]] tag Optional parameter: A tag that can be used to
    # select the Bindings to notify. Repeat this parameter to specify more than
    # one tag, up to a total of 20 tags.
    # @param [String] notification_protocol_version Optional parameter: The
    # protocol version to use to send the notification. This defaults to the
    # value of `default_xxxx_notification_protocol_version` for the protocol in
    # the [Service](https://www.twilio.com/docs/notify/api/service-resource).
    # The current version is `"3"` for `apn`, `fcm`, and `gcm` type Bindings.
    # The parameter is not applicable to `sms` and `facebook-messenger` type
    # Bindings as the data format is fixed.
    # @param [String] credential_sid Optional parameter: The SID of the
    # [Credential](https://www.twilio.com/docs/notify/api/credential-resource)
    # resource to be used to send notifications to this Binding. If present,
    # this overrides the Credential specified in the Service resource. Applies
    # to only `apn`, `fcm`, and `gcm` type Bindings.
    # @param [String] endpoint Optional parameter: Deprecated.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_binding(service_sid,
                       identity,
                       binding_type,
                       address,
                       tag: nil,
                       notification_protocol_version: nil,
                       credential_sid: nil,
                       endpoint: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Services/{ServiceSid}/Bindings',
                                     Server::DEFAULT3)
                   .template_param(new_parameter(service_sid, key: 'ServiceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(identity, key: 'Identity')
                                .is_required(true))
                   .form_param(new_parameter(binding_type, key: 'BindingType')
                                .is_required(true))
                   .form_param(new_parameter(address, key: 'Address')
                                .is_required(true))
                   .form_param(new_parameter(tag, key: 'Tag'))
                   .form_param(new_parameter(notification_protocol_version, key: 'NotificationProtocolVersion'))
                   .form_param(new_parameter(credential_sid, key: 'CredentialSid'))
                   .form_param(new_parameter(endpoint, key: 'Endpoint'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Binding.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] service_sid Required parameter: The SID of the
    # [Service](https://www.twilio.com/docs/notify/api/service-resource) to read
    # the resource from.
    # @param [Date] start_date Optional parameter: Only include usage that has
    # occurred on or after this date. Specify the date in GMT and format as
    # `YYYY-MM-DD`.
    # @param [Date] end_date Optional parameter: Only include usage that
    # occurred on or before this date. Specify the date in GMT and format as
    # `YYYY-MM-DD`.
    # @param [Array[String]] identity Optional parameter: The
    # [User](https://www.twilio.com/docs/chat/rest/user-resource)'s `identity`
    # value of the resources to read.
    # @param [Array[String]] tag Optional parameter: Only list Bindings that
    # have all of the specified Tags. The following implicit tags are available:
    # `all`, `apn`, `fcm`, `gcm`, `sms`, `facebook-messenger`. Up to 5 tags are
    # allowed.
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 1000.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_binding(service_sid,
                     start_date: nil,
                     end_date: nil,
                     identity: nil,
                     tag: nil,
                     page_size: nil,
                     page: nil,
                     page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Services/{ServiceSid}/Bindings',
                                     Server::DEFAULT3)
                   .template_param(new_parameter(service_sid, key: 'ServiceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(start_date, key: 'StartDate'))
                   .query_param(new_parameter(end_date, key: 'EndDate'))
                   .query_param(new_parameter(identity, key: 'Identity'))
                   .query_param(new_parameter(tag, key: 'Tag'))
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListBindingResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
