# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # NotifyV1ServiceApi
  class NotifyV1ServiceApi < BaseApi
    # TODO: type endpoint description here
    # @param [String] friendly_name Optional parameter: A descriptive string
    # that you create to describe the resource. It can be up to 64 characters
    # long.
    # @param [String] apn_credential_sid Optional parameter: The SID of the
    # [Credential](https://www.twilio.com/docs/notify/api/credential-resource)
    # to use for APN Bindings.
    # @param [String] gcm_credential_sid Optional parameter: The SID of the
    # [Credential](https://www.twilio.com/docs/notify/api/credential-resource)
    # to use for GCM Bindings.
    # @param [String] messaging_service_sid Optional parameter: The SID of the
    # [Messaging
    # Service](https://www.twilio.com/docs/sms/quickstart#messaging-services) to
    # use for SMS Bindings. This parameter must be set in order to send SMS
    # notifications.
    # @param [String] facebook_messenger_page_id Optional parameter:
    # Deprecated.
    # @param [String] default_apn_notification_protocol_version Optional
    # parameter: The protocol version to use for sending APNS notifications. Can
    # be overridden on a Binding by Binding basis when creating a
    # [Binding](https://www.twilio.com/docs/notify/api/binding-resource)
    # resource.
    # @param [String] default_gcm_notification_protocol_version Optional
    # parameter: The protocol version to use for sending GCM notifications. Can
    # be overridden on a Binding by Binding basis when creating a
    # [Binding](https://www.twilio.com/docs/notify/api/binding-resource)
    # resource.
    # @param [String] fcm_credential_sid Optional parameter: The SID of the
    # [Credential](https://www.twilio.com/docs/notify/api/credential-resource)
    # to use for FCM Bindings.
    # @param [String] default_fcm_notification_protocol_version Optional
    # parameter: The protocol version to use for sending FCM notifications. Can
    # be overridden on a Binding by Binding basis when creating a
    # [Binding](https://www.twilio.com/docs/notify/api/binding-resource)
    # resource.
    # @param [TrueClass | FalseClass] log_enabled Optional parameter: Whether to
    # log notifications. Can be: `true` or `false` and the default is `true`.
    # @param [String] alexa_skill_id Optional parameter: Deprecated.
    # @param [String] default_alexa_notification_protocol_version Optional
    # parameter: Deprecated.
    # @param [String] delivery_callback_url Optional parameter: URL to send
    # delivery status callback.
    # @param [TrueClass | FalseClass] delivery_callback_enabled Optional
    # parameter: Callback configuration that enables delivery callbacks, default
    # false
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_service(friendly_name: nil,
                       apn_credential_sid: nil,
                       gcm_credential_sid: nil,
                       messaging_service_sid: nil,
                       facebook_messenger_page_id: nil,
                       default_apn_notification_protocol_version: nil,
                       default_gcm_notification_protocol_version: nil,
                       fcm_credential_sid: nil,
                       default_fcm_notification_protocol_version: nil,
                       log_enabled: nil,
                       alexa_skill_id: nil,
                       default_alexa_notification_protocol_version: nil,
                       delivery_callback_url: nil,
                       delivery_callback_enabled: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Services',
                                     Server::DEFAULT3)
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .form_param(new_parameter(apn_credential_sid, key: 'ApnCredentialSid'))
                   .form_param(new_parameter(gcm_credential_sid, key: 'GcmCredentialSid'))
                   .form_param(new_parameter(messaging_service_sid, key: 'MessagingServiceSid'))
                   .form_param(new_parameter(facebook_messenger_page_id, key: 'FacebookMessengerPageId'))
                   .form_param(new_parameter(default_apn_notification_protocol_version, key: 'DefaultApnNotificationProtocolVersion'))
                   .form_param(new_parameter(default_gcm_notification_protocol_version, key: 'DefaultGcmNotificationProtocolVersion'))
                   .form_param(new_parameter(fcm_credential_sid, key: 'FcmCredentialSid'))
                   .form_param(new_parameter(default_fcm_notification_protocol_version, key: 'DefaultFcmNotificationProtocolVersion'))
                   .form_param(new_parameter(log_enabled, key: 'LogEnabled'))
                   .form_param(new_parameter(alexa_skill_id, key: 'AlexaSkillId'))
                   .form_param(new_parameter(default_alexa_notification_protocol_version, key: 'DefaultAlexaNotificationProtocolVersion'))
                   .form_param(new_parameter(delivery_callback_url, key: 'DeliveryCallbackUrl'))
                   .form_param(new_parameter(delivery_callback_enabled, key: 'DeliveryCallbackEnabled'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Service1.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] friendly_name Optional parameter: The string that
    # identifies the Service resources to read.
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 1000.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_service(friendly_name: nil,
                     page_size: nil,
                     page: nil,
                     page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Services',
                                     Server::DEFAULT3)
                   .query_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListServiceResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] sid Required parameter: The Twilio-provided string that
    # uniquely identifies the Service resource to delete.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_service(sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/Services/{Sid}',
                                     Server::DEFAULT3)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] sid Required parameter: The Twilio-provided string that
    # uniquely identifies the Service resource to fetch.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_service(sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Services/{Sid}',
                                     Server::DEFAULT3)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Service1.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] sid Required parameter: The Twilio-provided string that
    # uniquely identifies the Service resource to update.
    # @param [String] friendly_name Optional parameter: A descriptive string
    # that you create to describe the resource. It can be up to 64 characters
    # long.
    # @param [String] apn_credential_sid Optional parameter: The SID of the
    # [Credential](https://www.twilio.com/docs/notify/api/credential-resource)
    # to use for APN Bindings.
    # @param [String] gcm_credential_sid Optional parameter: The SID of the
    # [Credential](https://www.twilio.com/docs/notify/api/credential-resource)
    # to use for GCM Bindings.
    # @param [String] messaging_service_sid Optional parameter: The SID of the
    # [Messaging
    # Service](https://www.twilio.com/docs/sms/quickstart#messaging-services) to
    # use for SMS Bindings. This parameter must be set in order to send SMS
    # notifications.
    # @param [String] facebook_messenger_page_id Optional parameter:
    # Deprecated.
    # @param [String] default_apn_notification_protocol_version Optional
    # parameter: The protocol version to use for sending APNS notifications. Can
    # be overridden on a Binding by Binding basis when creating a
    # [Binding](https://www.twilio.com/docs/notify/api/binding-resource)
    # resource.
    # @param [String] default_gcm_notification_protocol_version Optional
    # parameter: The protocol version to use for sending GCM notifications. Can
    # be overridden on a Binding by Binding basis when creating a
    # [Binding](https://www.twilio.com/docs/notify/api/binding-resource)
    # resource.
    # @param [String] fcm_credential_sid Optional parameter: The SID of the
    # [Credential](https://www.twilio.com/docs/notify/api/credential-resource)
    # to use for FCM Bindings.
    # @param [String] default_fcm_notification_protocol_version Optional
    # parameter: The protocol version to use for sending FCM notifications. Can
    # be overridden on a Binding by Binding basis when creating a
    # [Binding](https://www.twilio.com/docs/notify/api/binding-resource)
    # resource.
    # @param [TrueClass | FalseClass] log_enabled Optional parameter: Whether to
    # log notifications. Can be: `true` or `false` and the default is `true`.
    # @param [String] alexa_skill_id Optional parameter: Deprecated.
    # @param [String] default_alexa_notification_protocol_version Optional
    # parameter: Deprecated.
    # @param [String] delivery_callback_url Optional parameter: URL to send
    # delivery status callback.
    # @param [TrueClass | FalseClass] delivery_callback_enabled Optional
    # parameter: Callback configuration that enables delivery callbacks, default
    # false
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_service(sid,
                       friendly_name: nil,
                       apn_credential_sid: nil,
                       gcm_credential_sid: nil,
                       messaging_service_sid: nil,
                       facebook_messenger_page_id: nil,
                       default_apn_notification_protocol_version: nil,
                       default_gcm_notification_protocol_version: nil,
                       fcm_credential_sid: nil,
                       default_fcm_notification_protocol_version: nil,
                       log_enabled: nil,
                       alexa_skill_id: nil,
                       default_alexa_notification_protocol_version: nil,
                       delivery_callback_url: nil,
                       delivery_callback_enabled: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Services/{Sid}',
                                     Server::DEFAULT3)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .form_param(new_parameter(apn_credential_sid, key: 'ApnCredentialSid'))
                   .form_param(new_parameter(gcm_credential_sid, key: 'GcmCredentialSid'))
                   .form_param(new_parameter(messaging_service_sid, key: 'MessagingServiceSid'))
                   .form_param(new_parameter(facebook_messenger_page_id, key: 'FacebookMessengerPageId'))
                   .form_param(new_parameter(default_apn_notification_protocol_version, key: 'DefaultApnNotificationProtocolVersion'))
                   .form_param(new_parameter(default_gcm_notification_protocol_version, key: 'DefaultGcmNotificationProtocolVersion'))
                   .form_param(new_parameter(fcm_credential_sid, key: 'FcmCredentialSid'))
                   .form_param(new_parameter(default_fcm_notification_protocol_version, key: 'DefaultFcmNotificationProtocolVersion'))
                   .form_param(new_parameter(log_enabled, key: 'LogEnabled'))
                   .form_param(new_parameter(alexa_skill_id, key: 'AlexaSkillId'))
                   .form_param(new_parameter(default_alexa_notification_protocol_version, key: 'DefaultAlexaNotificationProtocolVersion'))
                   .form_param(new_parameter(delivery_callback_url, key: 'DeliveryCallbackUrl'))
                   .form_param(new_parameter(delivery_callback_enabled, key: 'DeliveryCallbackEnabled'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Service1.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
