# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # NotifyV1CredentialApi
  class NotifyV1CredentialApi < BaseApi
    # TODO: type endpoint description here
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 1000.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_credential(page_size: nil,
                        page: nil,
                        page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Credentials',
                                     Server::DEFAULT3)
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListCredentialResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [CredentialPushType] type Required parameter: The Credential type.
    # Can be: `gcm`, `fcm`, or `apn`.
    # @param [String] friendly_name Optional parameter: A descriptive string
    # that you create to describe the resource. It can be up to 64 characters
    # long.
    # @param [String] certificate Optional parameter: [APN only] The URL-encoded
    # representation of the certificate. Strip everything outside of the
    # headers, e.g. `-----BEGIN
    # CERTIFICATE-----MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEFBQAwgZYxCz
    # AJBgNV.....A==-----END CERTIFICATE-----`
    # @param [String] private_key Optional parameter: [APN only] The URL-encoded
    # representation of the private key. Strip everything outside of the
    # headers, e.g. `-----BEGIN RSA PRIVATE
    # KEY-----MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fGgvCI1l9s+cmBY3WIz+cUDqmxiieR\n
    # .-----END RSA PRIVATE KEY-----`
    # @param [TrueClass | FalseClass] sandbox Optional parameter: [APN only]
    # Whether to send the credential to sandbox APNs. Can be `true` to send to
    # sandbox APNs or `false` to send to production.
    # @param [String] api_key Optional parameter: [GCM only] The `Server key` of
    # your project from Firebase console under Settings / Cloud messaging.
    # @param [String] secret Optional parameter: [FCM only] The `Server key` of
    # your project from Firebase console under Settings / Cloud messaging.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_credential(type,
                          friendly_name: nil,
                          certificate: nil,
                          private_key: nil,
                          sandbox: nil,
                          api_key: nil,
                          secret: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Credentials',
                                     Server::DEFAULT3)
                   .form_param(new_parameter(type, key: 'Type')
                                .is_required(true))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .form_param(new_parameter(certificate, key: 'Certificate'))
                   .form_param(new_parameter(private_key, key: 'PrivateKey'))
                   .form_param(new_parameter(sandbox, key: 'Sandbox'))
                   .form_param(new_parameter(api_key, key: 'ApiKey'))
                   .form_param(new_parameter(secret, key: 'Secret'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Credential1.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] sid Required parameter: The Twilio-provided string that
    # uniquely identifies the Credential resource to fetch.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_credential(sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Credentials/{Sid}',
                                     Server::DEFAULT3)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Credential1.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] sid Required parameter: The Twilio-provided string that
    # uniquely identifies the Credential resource to update.
    # @param [String] friendly_name Optional parameter: A descriptive string
    # that you create to describe the resource. It can be up to 64 characters
    # long.
    # @param [String] certificate Optional parameter: [APN only] The URL-encoded
    # representation of the certificate. Strip everything outside of the
    # headers, e.g. `-----BEGIN
    # CERTIFICATE-----MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEFBQAwgZYxCz
    # AJBgNV.....A==-----END CERTIFICATE-----`
    # @param [String] private_key Optional parameter: [APN only] The URL-encoded
    # representation of the private key. Strip everything outside of the
    # headers, e.g. `-----BEGIN RSA PRIVATE
    # KEY-----MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fGgvCI1l9s+cmBY3WIz+cUDqmxiieR\n
    # .-----END RSA PRIVATE KEY-----`
    # @param [TrueClass | FalseClass] sandbox Optional parameter: [APN only]
    # Whether to send the credential to sandbox APNs. Can be `true` to send to
    # sandbox APNs or `false` to send to production.
    # @param [String] api_key Optional parameter: [GCM only] The `Server key` of
    # your project from Firebase console under Settings / Cloud messaging.
    # @param [String] secret Optional parameter: [FCM only] The `Server key` of
    # your project from Firebase console under Settings / Cloud messaging.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_credential(sid,
                          friendly_name: nil,
                          certificate: nil,
                          private_key: nil,
                          sandbox: nil,
                          api_key: nil,
                          secret: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Credentials/{Sid}',
                                     Server::DEFAULT3)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .form_param(new_parameter(certificate, key: 'Certificate'))
                   .form_param(new_parameter(private_key, key: 'PrivateKey'))
                   .form_param(new_parameter(sandbox, key: 'Sandbox'))
                   .form_param(new_parameter(api_key, key: 'ApiKey'))
                   .form_param(new_parameter(secret, key: 'Secret'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Credential1.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] sid Required parameter: The Twilio-provided string that
    # uniquely identifies the Credential resource to delete.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_credential(sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/Credentials/{Sid}',
                                     Server::DEFAULT3)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true))
        .execute
    end
  end
end
