# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # TaskrouterV1WorkspaceApi
  class TaskrouterV1WorkspaceApi < BaseApi
    # TODO: type endpoint description here
    # @param [String] sid Required parameter: The SID of the Workspace resource
    # to fetch.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_workspace(sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Workspace.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] sid Required parameter: The SID of the Workspace resource
    # to update.
    # @param [String] default_activity_sid Optional parameter: The SID of the
    # Activity that will be used when new Workers are created in the
    # Workspace.
    # @param [String] event_callback_url Optional parameter: The URL we should
    # call when an event occurs. See [Workspace
    # Events](https://www.twilio.com/docs/taskrouter/api/event) for more
    # information. This parameter supports Twilio's [Webhooks (HTTP callbacks)
    # Connection
    # Overrides](https://www.twilio.com/docs/usage/webhooks/webhooks-connection-
    # overrides).
    # @param [String] events_filter Optional parameter: The list of Workspace
    # events for which to call event_callback_url. For example if
    # `EventsFilter=task.created,task.canceled,worker.activity.update`, then
    # TaskRouter will call event_callback_url only when a task is created,
    # canceled, or a Worker activity is updated.
    # @param [String] friendly_name Optional parameter: A descriptive string
    # that you create to describe the Workspace resource. For example: `Sales
    # Call Center` or `Customer Support Team`.
    # @param [TrueClass | FalseClass] multi_task_enabled Optional parameter:
    # Whether to enable multi-tasking. Can be: `true` to enable multi-tasking,
    # or `false` to disable it. However, all workspaces should be maintained as
    # multi-tasking. There is no default when omitting this parameter. A
    # multi-tasking Workspace can't be updated to single-tasking unless it is
    # not a Flex Project and another (legacy) single-tasking Workspace exists.
    # Multi-tasking allows Workers to handle multiple Tasks simultaneously. In
    # multi-tasking mode, each Worker can receive parallel reservations up to
    # the per-channel maximums defined in the Workers section. In single-tasking
    # mode (legacy mode), each Worker will only receive a new reservation when
    # the previous task is completed. Learn more at
    # [Multitasking](https://www.twilio.com/docs/taskrouter/multitasking).
    # @param [String] timeout_activity_sid Optional parameter: The SID of the
    # Activity that will be assigned to a Worker when a Task reservation times
    # out without a response.
    # @param [WorkspaceQueueOrder] prioritize_queue_order Optional parameter:
    # The type of TaskQueue to prioritize when Workers are receiving Tasks from
    # both types of TaskQueues. Can be: `LIFO` or `FIFO` and the default is
    # `FIFO`. For more information, see [Queue
    # Ordering](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first
    # -out-lifo).
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_workspace(sid,
                         default_activity_sid: nil,
                         event_callback_url: nil,
                         events_filter: nil,
                         friendly_name: nil,
                         multi_task_enabled: nil,
                         timeout_activity_sid: nil,
                         prioritize_queue_order: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Workspaces/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(default_activity_sid, key: 'DefaultActivitySid'))
                   .form_param(new_parameter(event_callback_url, key: 'EventCallbackUrl'))
                   .form_param(new_parameter(events_filter, key: 'EventsFilter'))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .form_param(new_parameter(multi_task_enabled, key: 'MultiTaskEnabled'))
                   .form_param(new_parameter(timeout_activity_sid, key: 'TimeoutActivitySid'))
                   .form_param(new_parameter(prioritize_queue_order, key: 'PrioritizeQueueOrder'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Workspace.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] sid Required parameter: The SID of the Workspace resource
    # to delete.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_workspace(sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/Workspaces/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] friendly_name Optional parameter: The `friendly_name` of
    # the Workspace resources to read. For example `Customer Support` or `2014
    # Election Campaign`.
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 1000.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_workspace(friendly_name: nil,
                       page_size: nil,
                       page: nil,
                       page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces',
                                     Server::DEFAULT4)
                   .query_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListWorkspaceResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] friendly_name Required parameter: A descriptive string
    # that you create to describe the Workspace resource. It can be up to 64
    # characters long. For example: `Customer Support` or `2014 Election
    # Campaign`.
    # @param [String] event_callback_url Optional parameter: The URL we should
    # call when an event occurs. If provided, the Workspace will publish events
    # to this URL, for example, to collect data for reporting. See [Workspace
    # Events](https://www.twilio.com/docs/taskrouter/api/event) for more
    # information. This parameter supports Twilio's [Webhooks (HTTP callbacks)
    # Connection
    # Overrides](https://www.twilio.com/docs/usage/webhooks/webhooks-connection-
    # overrides).
    # @param [String] events_filter Optional parameter: The list of Workspace
    # events for which to call event_callback_url. For example, if
    # `EventsFilter=task.created, task.canceled, worker.activity.update`, then
    # TaskRouter will call event_callback_url only when a task is created,
    # canceled, or a Worker activity is updated.
    # @param [TrueClass | FalseClass] multi_task_enabled Optional parameter:
    # Whether to enable multi-tasking. Can be: `true` to enable multi-tasking,
    # or `false` to disable it. However, all workspaces should be created as
    # multi-tasking. The default is `true`. Multi-tasking allows Workers to
    # handle multiple Tasks simultaneously. When enabled (`true`), each Worker
    # can receive parallel reservations up to the per-channel maximums defined
    # in the Workers section. In single-tasking mode (legacy mode), each Worker
    # will only receive a new reservation when the previous task is completed.
    # Learn more at
    # [Multitasking](https://www.twilio.com/docs/taskrouter/multitasking).
    # @param [String] template Optional parameter: An available template name.
    # Can be: `NONE` or `FIFO` and the default is `NONE`. Pre-configures the
    # Workspace with the Workflow and Activities specified in the template.
    # `NONE` will create a Workspace with only a set of default activities.
    # `FIFO` will configure TaskRouter with a set of default activities and a
    # single TaskQueue for first-in, first-out distribution, which can be useful
    # when you are getting started with TaskRouter.
    # @param [WorkspaceQueueOrder] prioritize_queue_order Optional parameter:
    # The type of TaskQueue to prioritize when Workers are receiving Tasks from
    # both types of TaskQueues. Can be: `LIFO` or `FIFO` and the default is
    # `FIFO`. For more information, see [Queue
    # Ordering](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first
    # -out-lifo).
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_workspace(friendly_name,
                         event_callback_url: nil,
                         events_filter: nil,
                         multi_task_enabled: nil,
                         template: nil,
                         prioritize_queue_order: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Workspaces',
                                     Server::DEFAULT4)
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName')
                                .is_required(true))
                   .form_param(new_parameter(event_callback_url, key: 'EventCallbackUrl'))
                   .form_param(new_parameter(events_filter, key: 'EventsFilter'))
                   .form_param(new_parameter(multi_task_enabled, key: 'MultiTaskEnabled'))
                   .form_param(new_parameter(template, key: 'Template'))
                   .form_param(new_parameter(prioritize_queue_order, key: 'PrioritizeQueueOrder'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Workspace.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
