# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # TaskrouterV1WorkspaceCumulativeStatisticsApi
  class TaskrouterV1WorkspaceCumulativeStatisticsApi < BaseApi
    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # to fetch.
    # @param [DateTime] end_date Optional parameter: Only include usage that
    # occurred on or before this date, specified in GMT as an [ISO
    # 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.
    # @param [Integer] minutes Optional parameter: Only calculate statistics
    # since this many minutes in the past. The default 15 minutes. This is
    # helpful for displaying statistics for the last 15 minutes, 240 minutes (4
    # hours), and 480 minutes (8 hours) to see trends.
    # @param [DateTime] start_date Optional parameter: Only calculate statistics
    # from this date and time and later, specified in [ISO
    # 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
    # @param [String] task_channel Optional parameter: Only calculate cumulative
    # statistics on this TaskChannel. Can be the TaskChannel's SID or its
    # `unique_name`, such as `voice`, `sms`, or `default`.
    # @param [String] split_by_wait_time Optional parameter: A comma separated
    # list of values that describes the thresholds, in seconds, to calculate
    # statistics on. For each threshold specified, the number of Tasks canceled
    # and reservations accepted above and below the specified thresholds in
    # seconds are computed. For example, `5,30` would show splits of Tasks that
    # were canceled or accepted before and after 5 seconds and before and after
    # 30 seconds. This can be used to show short abandoned Tasks or Tasks that
    # failed to meet an SLA. TaskRouter will calculate statistics on up to
    # 10,000 Tasks for any given threshold.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_workspace_cumulative_statistics(workspace_sid,
                                              end_date: nil,
                                              minutes: nil,
                                              start_date: nil,
                                              task_channel: nil,
                                              split_by_wait_time: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/CumulativeStatistics',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(end_date, key: 'EndDate'))
                   .query_param(new_parameter(minutes, key: 'Minutes'))
                   .query_param(new_parameter(start_date, key: 'StartDate'))
                   .query_param(new_parameter(task_channel, key: 'TaskChannel'))
                   .query_param(new_parameter(split_by_wait_time, key: 'SplitByWaitTime'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(WorkspaceCumulativeStatistics.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
