# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # TaskrouterV1TaskQueueRealTimeStatisticsApi
  class TaskrouterV1TaskQueueRealTimeStatisticsApi < BaseApi
    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the TaskQueue to fetch.
    # @param [String] task_queue_sid Required parameter: The SID of the
    # TaskQueue for which to fetch statistics.
    # @param [String] task_channel Optional parameter: The TaskChannel for which
    # to fetch statistics. Can be the TaskChannel's SID or its `unique_name`,
    # such as `voice`, `sms`, or `default`.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_task_queue_real_time_statistics(workspace_sid,
                                              task_queue_sid,
                                              task_channel: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/TaskQueues/{TaskQueueSid}/RealTimeStatistics',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(task_queue_sid, key: 'TaskQueueSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(task_channel, key: 'TaskChannel'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(TaskQueueRealTimeStatistics.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
