# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # TaskrouterV1TaskApi
  class TaskrouterV1TaskApi < BaseApi
    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Task to fetch.
    # @param [String] sid Required parameter: The SID of the Task resource to
    # fetch.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_task(workspace_sid,
                   sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/Tasks/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(TaskRouterTask.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Task to update.
    # @param [String] sid Required parameter: The SID of the Task resource to
    # update.
    # @param [String] if_match Optional parameter: If provided, applies this
    # mutation if (and only if) the
    # [ETag](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag)
    # header of the Task matches the provided value. This matches the semantics
    # of (and is implemented with) the HTTP [If-Match
    # header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match
    # ).
    # @param [String] attributes Optional parameter: The JSON string that
    # describes the custom attributes of the task.
    # @param [TaskStatus] assignment_status Optional parameter: The current
    # status of the Task's assignment. Can be: `pending`, `reserved`,
    # `assigned`, `canceled`, `wrapping`, or `completed`.
    # @param [String] reason Optional parameter: The reason that the Task was
    # canceled or completed. This parameter is required only if the Task is
    # canceled or completed. Setting this value queues the task for deletion and
    # logs the reason.
    # @param [Integer] priority Optional parameter: The Task's new priority
    # value. When supplied, the Task takes on the specified priority unless it
    # matches a Workflow Target with a Priority set. Value can be 0 to 2^31^
    # (2,147,483,647).
    # @param [String] task_channel Optional parameter: When MultiTasking is
    # enabled, specify the TaskChannel with the task to update. Can be the
    # TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or
    # `default`.
    # @param [DateTime] virtual_start_time Optional parameter: The task's new
    # virtual start time value. When supplied, the Task takes on the specified
    # virtual start time. Value can't be in the future or before the year of
    # 1900.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_task(workspace_sid,
                    sid,
                    if_match: nil,
                    attributes: nil,
                    assignment_status: nil,
                    reason: nil,
                    priority: nil,
                    task_channel: nil,
                    virtual_start_time: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Workspaces/{WorkspaceSid}/Tasks/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter(if_match, key: 'If-Match'))
                   .form_param(new_parameter(attributes, key: 'Attributes'))
                   .form_param(new_parameter(assignment_status, key: 'AssignmentStatus'))
                   .form_param(new_parameter(reason, key: 'Reason'))
                   .form_param(new_parameter(priority, key: 'Priority'))
                   .form_param(new_parameter(task_channel, key: 'TaskChannel'))
                   .form_param(new_parameter(virtual_start_time, key: 'VirtualStartTime'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(TaskRouterTask.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Task to delete.
    # @param [String] sid Required parameter: The SID of the Task resource to
    # delete.
    # @param [String] if_match Optional parameter: If provided, deletes this
    # Task if (and only if) the
    # [ETag](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag)
    # header of the Task matches the provided value. This matches the semantics
    # of (and is implemented with) the HTTP [If-Match
    # header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match
    # ).
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_task(workspace_sid,
                    sid,
                    if_match: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/Workspaces/{WorkspaceSid}/Tasks/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter(if_match, key: 'If-Match'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Tasks to read.
    # @param [Integer] priority Optional parameter: The priority value of the
    # Tasks to read. Returns the list of all Tasks in the Workspace with the
    # specified priority.
    # @param [Array[String]] assignment_status Optional parameter: The
    # `assignment_status` of the Tasks you want to read. Can be: `pending`,
    # `reserved`, `assigned`, `canceled`, `wrapping`, or `completed`. Returns
    # all Tasks in the Workspace with the specified `assignment_status`.
    # @param [String] workflow_sid Optional parameter: The SID of the Workflow
    # with the Tasks to read. Returns the Tasks controlled by the Workflow
    # identified by this SID.
    # @param [String] workflow_name Optional parameter: The friendly name of the
    # Workflow with the Tasks to read. Returns the Tasks controlled by the
    # Workflow identified by this friendly name.
    # @param [String] task_queue_sid Optional parameter: The SID of the
    # TaskQueue with the Tasks to read. Returns the Tasks waiting in the
    # TaskQueue identified by this SID.
    # @param [String] task_queue_name Optional parameter: The `friendly_name` of
    # the TaskQueue with the Tasks to read. Returns the Tasks waiting in the
    # TaskQueue identified by this friendly name.
    # @param [String] evaluate_task_attributes Optional parameter: The
    # attributes of the Tasks to read. Returns the Tasks that match the
    # attributes specified in this parameter.
    # @param [String] routing_target Optional parameter: A SID of a Worker,
    # Queue, or Workflow to route a Task to
    # @param [String] ordering Optional parameter: How to order the returned
    # Task resources. By default, Tasks are sorted by ascending DateCreated.
    # This value is specified as: `Attribute:Order`, where `Attribute` can be
    # either `DateCreated`, `Priority`, or `VirtualStartTime` and `Order` can be
    # either `asc` or `desc`. For example, `Priority:desc` returns Tasks ordered
    # in descending order of their Priority. Pairings of sort orders can be
    # specified in a comma-separated list such as
    # `Priority:desc,DateCreated:asc`, which returns the Tasks in descending
    # Priority order and ascending DateCreated Order. The only ordering pairing
    # not allowed is DateCreated and VirtualStartTime.
    # @param [TrueClass | FalseClass] has_addons Optional parameter: Whether to
    # read Tasks with Add-ons. If `true`, returns only Tasks with Add-ons. If
    # `false`, returns only Tasks without Add-ons.
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 1000.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_task(workspace_sid,
                  priority: nil,
                  assignment_status: nil,
                  workflow_sid: nil,
                  workflow_name: nil,
                  task_queue_sid: nil,
                  task_queue_name: nil,
                  evaluate_task_attributes: nil,
                  routing_target: nil,
                  ordering: nil,
                  has_addons: nil,
                  page_size: nil,
                  page: nil,
                  page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/Tasks',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(priority, key: 'Priority'))
                   .query_param(new_parameter(assignment_status, key: 'AssignmentStatus'))
                   .query_param(new_parameter(workflow_sid, key: 'WorkflowSid'))
                   .query_param(new_parameter(workflow_name, key: 'WorkflowName'))
                   .query_param(new_parameter(task_queue_sid, key: 'TaskQueueSid'))
                   .query_param(new_parameter(task_queue_name, key: 'TaskQueueName'))
                   .query_param(new_parameter(evaluate_task_attributes, key: 'EvaluateTaskAttributes'))
                   .query_param(new_parameter(routing_target, key: 'RoutingTarget'))
                   .query_param(new_parameter(ordering, key: 'Ordering'))
                   .query_param(new_parameter(has_addons, key: 'HasAddons'))
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListTaskResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # that the new Task belongs to.
    # @param [Integer] timeout Optional parameter: The amount of time in seconds
    # the new task can live before being assigned. Can be up to a maximum of 2
    # weeks (1,209,600 seconds). The default value is 24 hours (86,400 seconds).
    # On timeout, the `task.canceled` event will fire with description `Task TTL
    # Exceeded`.
    # @param [Integer] priority Optional parameter: The priority to assign the
    # new task and override the default. When supplied, the new Task will have
    # this priority unless it matches a Workflow Target with a Priority set.
    # When not supplied, the new Task will have the priority of the matching
    # Workflow Target. Value can be 0 to 2^31^ (2,147,483,647).
    # @param [String] task_channel Optional parameter: When MultiTasking is
    # enabled, specify the TaskChannel by passing either its `unique_name` or
    # `sid`. Default value is `default`.
    # @param [String] workflow_sid Optional parameter: The SID of the Workflow
    # that you would like to handle routing for the new Task. If there is only
    # one Workflow defined for the Workspace that you are posting the new task
    # to, this parameter is optional.
    # @param [String] attributes Optional parameter: A JSON string with the
    # attributes of the new task. This value is passed to the Workflow's
    # `assignment_callback_url` when the Task is assigned to a Worker. For
    # example: `{ "task_type": "call", "twilio_call_sid": "CAxxx",
    # "customer_ticket_number": "12345" }`.
    # @param [DateTime] virtual_start_time Optional parameter: The virtual start
    # time to assign the new task and override the default. When supplied, the
    # new task will have this virtual start time. When not supplied, the new
    # task will have the virtual start time equal to `date_created`. Value can't
    # be in the future or before the year of 1900.
    # @param [String] routing_target Optional parameter: A SID of a Worker,
    # Queue, or Workflow to route a Task to
    # @param [String] ignore_capacity Optional parameter: A boolean that
    # indicates if the Task should respect a Worker's capacity and availability
    # during assignment. This field can only be used when the `RoutingTarget`
    # field is set to a Worker SID. By setting `IgnoreCapacity` to a value of
    # `true`, `1`, or `yes`, the Task will be routed to the Worker without
    # respecting their capacity and availability. Any other value will enforce
    # the Worker's capacity and availability. The default value of
    # `IgnoreCapacity` is `true` when the `RoutingTarget` is set to a Worker
    # SID.
    # @param [String] task_queue_sid Optional parameter: The SID of the
    # TaskQueue in which the Task belongs
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_task(workspace_sid,
                    timeout: nil,
                    priority: nil,
                    task_channel: nil,
                    workflow_sid: nil,
                    attributes: nil,
                    virtual_start_time: nil,
                    routing_target: nil,
                    ignore_capacity: nil,
                    task_queue_sid: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Workspaces/{WorkspaceSid}/Tasks',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(timeout, key: 'Timeout'))
                   .form_param(new_parameter(priority, key: 'Priority'))
                   .form_param(new_parameter(task_channel, key: 'TaskChannel'))
                   .form_param(new_parameter(workflow_sid, key: 'WorkflowSid'))
                   .form_param(new_parameter(attributes, key: 'Attributes'))
                   .form_param(new_parameter(virtual_start_time, key: 'VirtualStartTime'))
                   .form_param(new_parameter(routing_target, key: 'RoutingTarget'))
                   .form_param(new_parameter(ignore_capacity, key: 'IgnoreCapacity'))
                   .form_param(new_parameter(task_queue_sid, key: 'TaskQueueSid'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(TaskRouterTask.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
