# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # TaskrouterV1WorkerChannelApi
  class TaskrouterV1WorkerChannelApi < BaseApi
    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the WorkerChannels to read.
    # @param [String] worker_sid Required parameter: The SID of the Worker with
    # the WorkerChannels to read.
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 1000.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_worker_channel(workspace_sid,
                            worker_sid,
                            page_size: nil,
                            page: nil,
                            page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/Workers/{WorkerSid}/Channels',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(worker_sid, key: 'WorkerSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListWorkerChannelResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the WorkerChannel to fetch.
    # @param [String] worker_sid Required parameter: The SID of the Worker with
    # the WorkerChannel to fetch.
    # @param [String] sid Required parameter: The SID of the WorkerChannel to
    # fetch.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_worker_channel(workspace_sid,
                             worker_sid,
                             sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/Workers/{WorkerSid}/Channels/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(worker_sid, key: 'WorkerSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(WorkerChannel.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the WorkerChannel to update.
    # @param [String] worker_sid Required parameter: The SID of the Worker with
    # the WorkerChannel to update.
    # @param [String] sid Required parameter: The SID of the WorkerChannel to
    # update.
    # @param [Integer] capacity Optional parameter: The total number of Tasks
    # that the Worker should handle for the TaskChannel type. TaskRouter creates
    # reservations for Tasks of this TaskChannel type up to the specified
    # capacity. If the capacity is 0, no new reservations will be created.
    # @param [TrueClass | FalseClass] available Optional parameter: Whether the
    # WorkerChannel is available. Set to `false` to prevent the Worker from
    # receiving any new Tasks of this TaskChannel type.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_worker_channel(workspace_sid,
                              worker_sid,
                              sid,
                              capacity: nil,
                              available: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Workspaces/{WorkspaceSid}/Workers/{WorkerSid}/Channels/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(worker_sid, key: 'WorkerSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(capacity, key: 'Capacity'))
                   .form_param(new_parameter(available, key: 'Available'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(WorkerChannel.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
