# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # TaskrouterV1TaskReservationApi
  class TaskrouterV1TaskReservationApi < BaseApi
    # Tasks reserved for workers
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the TaskReservation resources to read.
    # @param [String] task_sid Required parameter: The SID of the reserved Task
    # resource with the TaskReservation resources to read.
    # @param [TaskReservationStatus] reservation_status Optional parameter:
    # Returns the list of reservations for a task with a specified
    # ReservationStatus.  Can be: `pending`, `accepted`, `rejected`, or
    # `timeout`.
    # @param [String] worker_sid Optional parameter: The SID of the reserved
    # Worker resource to read.
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 1000.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_task_reservation(workspace_sid,
                              task_sid,
                              reservation_status: nil,
                              worker_sid: nil,
                              page_size: nil,
                              page: nil,
                              page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/Tasks/{TaskSid}/Reservations',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(task_sid, key: 'TaskSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(reservation_status, key: 'ReservationStatus'))
                   .query_param(new_parameter(worker_sid, key: 'WorkerSid'))
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListTaskReservationResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Tasks reserved for workers
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the TaskReservation resource to fetch.
    # @param [String] task_sid Required parameter: The SID of the reserved Task
    # resource with the TaskReservation resource to fetch.
    # @param [String] sid Required parameter: The SID of the TaskReservation
    # resource to fetch.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_task_reservation(workspace_sid,
                               task_sid,
                               sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/Tasks/{TaskSid}/Reservations/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(task_sid, key: 'TaskSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(TaskReservation.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Tasks reserved for workers
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the TaskReservation resources to update.
    # @param [String] task_sid Required parameter: The SID of the reserved Task
    # resource with the TaskReservation resources to update.
    # @param [String] sid Required parameter: The SID of the TaskReservation
    # resource to update.
    # @param [String] if_match Optional parameter: The If-Match HTTP request
    # header
    # @param [TaskReservationStatus] reservation_status Optional parameter: The
    # current status of the reservation. Can be: `pending`, `accepted`,
    # `rejected`, or `timeout`.
    # @param [String] worker_activity_sid Optional parameter: The new worker
    # activity SID if rejecting a reservation.
    # @param [String] instruction Optional parameter: The assignment instruction
    # for reservation.
    # @param [String] dequeue_post_work_activity_sid Optional parameter: The SID
    # of the Activity resource to start after executing a Dequeue instruction.
    # @param [String] dequeue_from Optional parameter: The Caller ID of the call
    # to the worker when executing a Dequeue instruction.
    # @param [String] dequeue_record Optional parameter: Whether to record both
    # legs of a call when executing a Dequeue instruction or which leg to
    # record.
    # @param [Integer] dequeue_timeout Optional parameter: Timeout for call when
    # executing a Dequeue instruction.
    # @param [String] dequeue_to Optional parameter: The Contact URI of the
    # worker when executing a Dequeue instruction. Can be the URI of the Twilio
    # Client, the SIP URI for Programmable SIP, or the
    # [E.164](https://www.twilio.com/docs/glossary/what-e164) formatted phone
    # number, depending on the destination.
    # @param [String] dequeue_status_callback_url Optional parameter: The
    # Callback URL for completed call event when executing a Dequeue
    # instruction.
    # @param [String] call_from Optional parameter: The Caller ID of the
    # outbound call when executing a Call instruction.
    # @param [String] call_record Optional parameter: Whether to record both
    # legs of a call when executing a Call instruction or which leg to record.
    # @param [Integer] call_timeout Optional parameter: Timeout for call when
    # executing a Call instruction.
    # @param [String] call_to Optional parameter: The Contact URI of the worker
    # when executing a Call instruction.  Can be the URI of the Twilio Client,
    # the SIP URI for Programmable SIP, or the
    # [E.164](https://www.twilio.com/docs/glossary/what-e164) formatted phone
    # number, depending on the destination.
    # @param [String] call_url Optional parameter: TwiML URI executed on
    # answering the worker's leg as a result of the Call instruction.
    # @param [String] call_status_callback_url Optional parameter: The URL to
    # call  for the completed call event when executing a Call instruction.
    # @param [TrueClass | FalseClass] call_accept Optional parameter: Whether to
    # accept a reservation when executing a Call instruction.
    # @param [String] redirect_call_sid Optional parameter: The Call SID of the
    # call parked in the queue when executing a Redirect instruction.
    # @param [TrueClass | FalseClass] redirect_accept Optional parameter:
    # Whether the reservation should be accepted when executing a Redirect
    # instruction.
    # @param [String] redirect_url Optional parameter: TwiML URI to redirect the
    # call to when executing the Redirect instruction.
    # @param [String] to Optional parameter: The Contact URI of the worker when
    # executing a Conference instruction. Can be the URI of the Twilio Client,
    # the SIP URI for Programmable SIP, or the
    # [E.164](https://www.twilio.com/docs/glossary/what-e164) formatted phone
    # number, depending on the destination.
    # @param [String] from Optional parameter: The Caller ID of the call to the
    # worker when executing a Conference instruction.
    # @param [String] status_callback Optional parameter: The URL we should call
    # using the `status_callback_method` to send status information to your
    # application.
    # @param [ConfigurationWebhookMethod] status_callback_method Optional
    # parameter: The HTTP method we should use to call `status_callback`. Can
    # be: `POST` or `GET` and the default is `POST`.
    # @param [Array[TaskReservationCallStatus]] status_callback_event Optional
    # parameter: The call progress events that we will send to
    # `status_callback`. Can be: `initiated`, `ringing`, `answered`, or
    # `completed`.
    # @param [Integer] timeout Optional parameter: Timeout for call when
    # executing a Conference instruction.
    # @param [TrueClass | FalseClass] record Optional parameter: Whether to
    # record the participant and their conferences, including the time between
    # conferences. The default is `false`.
    # @param [TrueClass | FalseClass] muted Optional parameter: Whether the
    # agent is muted in the conference. The default is `false`.
    # @param [String] beep Optional parameter: Whether to play a notification
    # beep when the participant joins or when to play a beep. Can be: `true`,
    # `false`, `onEnter`, or `onExit`. The default value is `true`.
    # @param [TrueClass | FalseClass] start_conference_on_enter Optional
    # parameter: Whether to start the conference when the participant joins, if
    # it has not already started. The default is `true`. If `false` and the
    # conference has not started, the participant is muted and hears background
    # music until another participant starts the conference.
    # @param [TrueClass | FalseClass] end_conference_on_exit Optional parameter:
    # Whether to end the conference when the agent leaves.
    # @param [String] wait_url Optional parameter: The URL we should call using
    # the `wait_method` for the music to play while participants are waiting for
    # the conference to start. The default value is the URL of our standard hold
    # music. [Learn more about hold
    # music](https://www.twilio.com/labs/twimlets/holdmusic).
    # @param [ConfigurationWebhookMethod] wait_method Optional parameter: The
    # HTTP method we should use to call `wait_url`. Can be `GET` or `POST` and
    # the default is `POST`. When using a static audio file, this should be
    # `GET` so that we can cache the file.
    # @param [TrueClass | FalseClass] early_media Optional parameter: Whether to
    # allow an agent to hear the state of the outbound call, including ringing
    # or disconnect messages. The default is `true`.
    # @param [Integer] max_participants Optional parameter: The maximum number
    # of participants in the conference. Can be a positive integer from `2` to
    # `250`. The default value is `250`.
    # @param [String] conference_status_callback Optional parameter: The URL we
    # should call using the `conference_status_callback_method` when the
    # conference events in `conference_status_callback_event` occur. Only the
    # value set by the first participant to join the conference is used.
    # Subsequent `conference_status_callback` values are ignored.
    # @param [ConfigurationWebhookMethod] conference_status_callback_method
    # Optional parameter: The HTTP method we should use to call
    # `conference_status_callback`. Can be: `GET` or `POST` and defaults to
    # `POST`.
    # @param [Array[TaskReservationConferenceEvent]]
    # conference_status_callback_event Optional parameter: The conference status
    # events that we will send to `conference_status_callback`. Can be: `start`,
    # `end`, `join`, `leave`, `mute`, `hold`, `speaker`.
    # @param [String] conference_record Optional parameter: Whether to record
    # the conference the participant is joining or when to record the
    # conference. Can be: `true`, `false`, `record-from-start`, and
    # `do-not-record`. The default value is `false`.
    # @param [String] conference_trim Optional parameter: How to trim the
    # leading and trailing silence from your recorded conference audio files.
    # Can be: `trim-silence` or `do-not-trim` and defaults to `trim-silence`.
    # @param [String] recording_channels Optional parameter: The recording
    # channels for the final recording. Can be: `mono` or `dual` and the default
    # is `mono`.
    # @param [String] recording_status_callback Optional parameter: The URL that
    # we should call using the `recording_status_callback_method` when the
    # recording status changes.
    # @param [ConfigurationWebhookMethod] recording_status_callback_method
    # Optional parameter: The HTTP method we should use when we call
    # `recording_status_callback`. Can be: `GET` or `POST` and defaults to
    # `POST`.
    # @param [String] conference_recording_status_callback Optional parameter:
    # The URL we should call using the
    # `conference_recording_status_callback_method` when the conference
    # recording is available.
    # @param [ConfigurationWebhookMethod]
    # conference_recording_status_callback_method Optional parameter: The HTTP
    # method we should use to call `conference_recording_status_callback`. Can
    # be: `GET` or `POST` and defaults to `POST`.
    # @param [String] region Optional parameter: The
    # [region](https://support.twilio.com/hc/en-us/articles/223132167-How-global
    # -low-latency-routing-and-region-selection-work-for-conferences-and-Client-
    # calls) where we should mix the recorded audio. Can be:`us1`, `us2`, `ie1`,
    # `de1`, `sg1`, `br1`, `au1`, or `jp1`.
    # @param [String] sip_auth_username Optional parameter: The SIP username
    # used for authentication.
    # @param [String] sip_auth_password Optional parameter: The SIP password for
    # authentication.
    # @param [Array[String]] dequeue_status_callback_event Optional parameter:
    # The Call progress events sent via webhooks as a result of a Dequeue
    # instruction.
    # @param [String] post_work_activity_sid Optional parameter: The new worker
    # activity SID after executing a Conference instruction.
    # @param [TaskReservationSupervisorMode] supervisor_mode Optional parameter:
    # TODO: type description here
    # @param [String] supervisor Optional parameter: The Supervisor SID/URI when
    # executing the Supervise instruction.
    # @param [TrueClass | FalseClass] end_conference_on_customer_exit Optional
    # parameter: Whether to end the conference when the customer leaves.
    # @param [TrueClass | FalseClass] beep_on_customer_entrance Optional
    # parameter: Whether to play a notification beep when the customer joins.
    # @param [String] jitter_buffer_size Optional parameter: The jitter buffer
    # size for conference. Can be: `small`, `medium`, `large`, `off`.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_task_reservation(workspace_sid,
                                task_sid,
                                sid,
                                if_match: nil,
                                reservation_status: nil,
                                worker_activity_sid: nil,
                                instruction: nil,
                                dequeue_post_work_activity_sid: nil,
                                dequeue_from: nil,
                                dequeue_record: nil,
                                dequeue_timeout: nil,
                                dequeue_to: nil,
                                dequeue_status_callback_url: nil,
                                call_from: nil,
                                call_record: nil,
                                call_timeout: nil,
                                call_to: nil,
                                call_url: nil,
                                call_status_callback_url: nil,
                                call_accept: nil,
                                redirect_call_sid: nil,
                                redirect_accept: nil,
                                redirect_url: nil,
                                to: nil,
                                from: nil,
                                status_callback: nil,
                                status_callback_method: nil,
                                status_callback_event: nil,
                                timeout: nil,
                                record: nil,
                                muted: nil,
                                beep: nil,
                                start_conference_on_enter: nil,
                                end_conference_on_exit: nil,
                                wait_url: nil,
                                wait_method: nil,
                                early_media: nil,
                                max_participants: nil,
                                conference_status_callback: nil,
                                conference_status_callback_method: nil,
                                conference_status_callback_event: nil,
                                conference_record: nil,
                                conference_trim: nil,
                                recording_channels: nil,
                                recording_status_callback: nil,
                                recording_status_callback_method: nil,
                                conference_recording_status_callback: nil,
                                conference_recording_status_callback_method: nil,
                                region: nil,
                                sip_auth_username: nil,
                                sip_auth_password: nil,
                                dequeue_status_callback_event: nil,
                                post_work_activity_sid: nil,
                                supervisor_mode: nil,
                                supervisor: nil,
                                end_conference_on_customer_exit: nil,
                                beep_on_customer_entrance: nil,
                                jitter_buffer_size: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Workspaces/{WorkspaceSid}/Tasks/{TaskSid}/Reservations/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(task_sid, key: 'TaskSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter(if_match, key: 'If-Match'))
                   .form_param(new_parameter(reservation_status, key: 'ReservationStatus'))
                   .form_param(new_parameter(worker_activity_sid, key: 'WorkerActivitySid'))
                   .form_param(new_parameter(instruction, key: 'Instruction'))
                   .form_param(new_parameter(dequeue_post_work_activity_sid, key: 'DequeuePostWorkActivitySid'))
                   .form_param(new_parameter(dequeue_from, key: 'DequeueFrom'))
                   .form_param(new_parameter(dequeue_record, key: 'DequeueRecord'))
                   .form_param(new_parameter(dequeue_timeout, key: 'DequeueTimeout'))
                   .form_param(new_parameter(dequeue_to, key: 'DequeueTo'))
                   .form_param(new_parameter(dequeue_status_callback_url, key: 'DequeueStatusCallbackUrl'))
                   .form_param(new_parameter(call_from, key: 'CallFrom'))
                   .form_param(new_parameter(call_record, key: 'CallRecord'))
                   .form_param(new_parameter(call_timeout, key: 'CallTimeout'))
                   .form_param(new_parameter(call_to, key: 'CallTo'))
                   .form_param(new_parameter(call_url, key: 'CallUrl'))
                   .form_param(new_parameter(call_status_callback_url, key: 'CallStatusCallbackUrl'))
                   .form_param(new_parameter(call_accept, key: 'CallAccept'))
                   .form_param(new_parameter(redirect_call_sid, key: 'RedirectCallSid'))
                   .form_param(new_parameter(redirect_accept, key: 'RedirectAccept'))
                   .form_param(new_parameter(redirect_url, key: 'RedirectUrl'))
                   .form_param(new_parameter(to, key: 'To'))
                   .form_param(new_parameter(from, key: 'From'))
                   .form_param(new_parameter(status_callback, key: 'StatusCallback'))
                   .form_param(new_parameter(status_callback_method, key: 'StatusCallbackMethod'))
                   .form_param(new_parameter(status_callback_event, key: 'StatusCallbackEvent'))
                   .form_param(new_parameter(timeout, key: 'Timeout'))
                   .form_param(new_parameter(record, key: 'Record'))
                   .form_param(new_parameter(muted, key: 'Muted'))
                   .form_param(new_parameter(beep, key: 'Beep'))
                   .form_param(new_parameter(start_conference_on_enter, key: 'StartConferenceOnEnter'))
                   .form_param(new_parameter(end_conference_on_exit, key: 'EndConferenceOnExit'))
                   .form_param(new_parameter(wait_url, key: 'WaitUrl'))
                   .form_param(new_parameter(wait_method, key: 'WaitMethod'))
                   .form_param(new_parameter(early_media, key: 'EarlyMedia'))
                   .form_param(new_parameter(max_participants, key: 'MaxParticipants'))
                   .form_param(new_parameter(conference_status_callback, key: 'ConferenceStatusCallback'))
                   .form_param(new_parameter(conference_status_callback_method, key: 'ConferenceStatusCallbackMethod'))
                   .form_param(new_parameter(conference_status_callback_event, key: 'ConferenceStatusCallbackEvent'))
                   .form_param(new_parameter(conference_record, key: 'ConferenceRecord'))
                   .form_param(new_parameter(conference_trim, key: 'ConferenceTrim'))
                   .form_param(new_parameter(recording_channels, key: 'RecordingChannels'))
                   .form_param(new_parameter(recording_status_callback, key: 'RecordingStatusCallback'))
                   .form_param(new_parameter(recording_status_callback_method, key: 'RecordingStatusCallbackMethod'))
                   .form_param(new_parameter(conference_recording_status_callback, key: 'ConferenceRecordingStatusCallback'))
                   .form_param(new_parameter(conference_recording_status_callback_method, key: 'ConferenceRecordingStatusCallbackMethod'))
                   .form_param(new_parameter(region, key: 'Region'))
                   .form_param(new_parameter(sip_auth_username, key: 'SipAuthUsername'))
                   .form_param(new_parameter(sip_auth_password, key: 'SipAuthPassword'))
                   .form_param(new_parameter(dequeue_status_callback_event, key: 'DequeueStatusCallbackEvent'))
                   .form_param(new_parameter(post_work_activity_sid, key: 'PostWorkActivitySid'))
                   .form_param(new_parameter(supervisor_mode, key: 'SupervisorMode'))
                   .form_param(new_parameter(supervisor, key: 'Supervisor'))
                   .form_param(new_parameter(end_conference_on_customer_exit, key: 'EndConferenceOnCustomerExit'))
                   .form_param(new_parameter(beep_on_customer_entrance, key: 'BeepOnCustomerEntrance'))
                   .form_param(new_parameter(jitter_buffer_size, key: 'JitterBufferSize'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(TaskReservation.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
