# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # TaskrouterV1TaskQueueCumulativeStatisticsApi
  class TaskrouterV1TaskQueueCumulativeStatisticsApi < BaseApi
    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the TaskQueue to fetch.
    # @param [String] task_queue_sid Required parameter: The SID of the
    # TaskQueue for which to fetch statistics.
    # @param [DateTime] end_date Optional parameter: Only calculate statistics
    # from this date and time and earlier, specified in GMT as an [ISO
    # 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.
    # @param [Integer] minutes Optional parameter: Only calculate statistics
    # since this many minutes in the past. The default is 15 minutes.
    # @param [DateTime] start_date Optional parameter: Only calculate statistics
    # from this date and time and later, specified in [ISO
    # 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
    # @param [String] task_channel Optional parameter: Only calculate cumulative
    # statistics on this TaskChannel. Can be the TaskChannel's SID or its
    # `unique_name`, such as `voice`, `sms`, or `default`.
    # @param [String] split_by_wait_time Optional parameter: A comma separated
    # list of values that describes the thresholds, in seconds, to calculate
    # statistics on. For each threshold specified, the number of Tasks canceled
    # and reservations accepted above and below the specified thresholds in
    # seconds are computed. TaskRouter will calculate statistics on up to 10,000
    # Tasks/Reservations for any given threshold.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_task_queue_cumulative_statistics(workspace_sid,
                                               task_queue_sid,
                                               end_date: nil,
                                               minutes: nil,
                                               start_date: nil,
                                               task_channel: nil,
                                               split_by_wait_time: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/TaskQueues/{TaskQueueSid}/CumulativeStatistics',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(task_queue_sid, key: 'TaskQueueSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(end_date, key: 'EndDate'))
                   .query_param(new_parameter(minutes, key: 'Minutes'))
                   .query_param(new_parameter(start_date, key: 'StartDate'))
                   .query_param(new_parameter(task_channel, key: 'TaskChannel'))
                   .query_param(new_parameter(split_by_wait_time, key: 'SplitByWaitTime'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(TaskQueueCumulative.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
