# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # TaskrouterV1EventApi
  class TaskrouterV1EventApi < BaseApi
    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Event to fetch.
    # @param [String] sid Required parameter: The SID of the Event resource to
    # fetch.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_event(workspace_sid,
                    sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/Events/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Event.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Events to read. Returns only the Events that pertain to the
    # specified Workspace.
    # @param [DateTime] end_date Optional parameter: Only include Events that
    # occurred on or before this date, specified in GMT as an [ISO
    # 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.
    # @param [String] event_type Optional parameter: The type of Events to read.
    # Returns only Events of the type specified.
    # @param [Integer] minutes Optional parameter: The period of events to read
    # in minutes. Returns only Events that occurred since this many minutes in
    # the past. The default is `15` minutes. Task Attributes for Events occuring
    # more 43,200 minutes ago will be redacted.
    # @param [String] reservation_sid Optional parameter: The SID of the
    # Reservation with the Events to read. Returns only Events that pertain to
    # the specified Reservation.
    # @param [DateTime] start_date Optional parameter: Only include Events from
    # on or after this date and time, specified in [ISO
    # 8601](https://en.wikipedia.org/wiki/ISO_8601) format. Task Attributes for
    # Events older than 30 days will be redacted.
    # @param [String] task_queue_sid Optional parameter: The SID of the
    # TaskQueue with the Events to read. Returns only the Events that pertain to
    # the specified TaskQueue.
    # @param [String] task_sid Optional parameter: The SID of the Task with the
    # Events to read. Returns only the Events that pertain to the specified
    # Task.
    # @param [String] worker_sid Optional parameter: The SID of the Worker with
    # the Events to read. Returns only the Events that pertain to the specified
    # Worker.
    # @param [String] workflow_sid Optional parameter: The SID of the Workflow
    # with the Events to read. Returns only the Events that pertain to the
    # specified Workflow.
    # @param [String] task_channel Optional parameter: The TaskChannel with the
    # Events to read. Returns only the Events that pertain to the specified
    # TaskChannel.
    # @param [String] sid Optional parameter: The SID of the Event resource to
    # read.
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 1000.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_event(workspace_sid,
                   end_date: nil,
                   event_type: nil,
                   minutes: nil,
                   reservation_sid: nil,
                   start_date: nil,
                   task_queue_sid: nil,
                   task_sid: nil,
                   worker_sid: nil,
                   workflow_sid: nil,
                   task_channel: nil,
                   sid: nil,
                   page_size: nil,
                   page: nil,
                   page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/Events',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(end_date, key: 'EndDate'))
                   .query_param(new_parameter(event_type, key: 'EventType'))
                   .query_param(new_parameter(minutes, key: 'Minutes'))
                   .query_param(new_parameter(reservation_sid, key: 'ReservationSid'))
                   .query_param(new_parameter(start_date, key: 'StartDate'))
                   .query_param(new_parameter(task_queue_sid, key: 'TaskQueueSid'))
                   .query_param(new_parameter(task_sid, key: 'TaskSid'))
                   .query_param(new_parameter(worker_sid, key: 'WorkerSid'))
                   .query_param(new_parameter(workflow_sid, key: 'WorkflowSid'))
                   .query_param(new_parameter(task_channel, key: 'TaskChannel'))
                   .query_param(new_parameter(sid, key: 'Sid'))
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListEventResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
