# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # TaskrouterV1TaskQueuesStatisticsApi
  class TaskrouterV1TaskQueuesStatisticsApi < BaseApi
    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the TaskQueues to read.
    # @param [DateTime] end_date Optional parameter: Only calculate statistics
    # from this date and time and earlier, specified in GMT as an [ISO
    # 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.
    # @param [String] friendly_name Optional parameter: The `friendly_name` of
    # the TaskQueue statistics to read.
    # @param [Integer] minutes Optional parameter: Only calculate statistics
    # since this many minutes in the past. The default is 15 minutes.
    # @param [DateTime] start_date Optional parameter: Only calculate statistics
    # from this date and time and later, specified in [ISO
    # 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
    # @param [String] task_channel Optional parameter: Only calculate statistics
    # on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`,
    # such as `voice`, `sms`, or `default`.
    # @param [String] split_by_wait_time Optional parameter: A comma separated
    # list of values that describes the thresholds, in seconds, to calculate
    # statistics on. For each threshold specified, the number of Tasks canceled
    # and reservations accepted above and below the specified thresholds in
    # seconds are computed.
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 1000.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_task_queues_statistics(workspace_sid,
                                    end_date: nil,
                                    friendly_name: nil,
                                    minutes: nil,
                                    start_date: nil,
                                    task_channel: nil,
                                    split_by_wait_time: nil,
                                    page_size: nil,
                                    page: nil,
                                    page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/TaskQueues/Statistics',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(end_date, key: 'EndDate'))
                   .query_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .query_param(new_parameter(minutes, key: 'Minutes'))
                   .query_param(new_parameter(start_date, key: 'StartDate'))
                   .query_param(new_parameter(task_channel, key: 'TaskChannel'))
                   .query_param(new_parameter(split_by_wait_time, key: 'SplitByWaitTime'))
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListTaskQueuesStatisticsResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
