# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # TaskrouterV1ActivityApi
  class TaskrouterV1ActivityApi < BaseApi
    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Activity resources to fetch.
    # @param [String] sid Required parameter: The SID of the Activity resource
    # to fetch.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_activity(workspace_sid,
                       sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/Activities/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Activity.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Activity resources to update.
    # @param [String] sid Required parameter: The SID of the Activity resource
    # to update.
    # @param [String] friendly_name Optional parameter: A descriptive string
    # that you create to describe the Activity resource. It can be up to 64
    # characters long. These names are used to calculate and expose statistics
    # about Workers, and provide visibility into the state of each Worker.
    # Examples of friendly names include: `on-call`, `break`, and `email`.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_activity(workspace_sid,
                        sid,
                        friendly_name: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Workspaces/{WorkspaceSid}/Activities/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Activity.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Activity resources to delete.
    # @param [String] sid Required parameter: The SID of the Activity resource
    # to delete.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_activity(workspace_sid,
                        sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/Workspaces/{WorkspaceSid}/Activities/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Activity resources to read.
    # @param [String] friendly_name Optional parameter: The `friendly_name` of
    # the Activity resources to read.
    # @param [String] available Optional parameter: Whether return only Activity
    # resources that are available or unavailable. A value of `true` returns
    # only available activities. Values of '1' or `yes` also indicate `true`.
    # All other values represent `false` and return activities that are
    # unavailable.
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 1000.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_activity(workspace_sid,
                      friendly_name: nil,
                      available: nil,
                      page_size: nil,
                      page: nil,
                      page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/Activities',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .query_param(new_parameter(available, key: 'Available'))
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListActivityResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # that the new Activity belongs to.
    # @param [String] friendly_name Required parameter: A descriptive string
    # that you create to describe the Activity resource. It can be up to 64
    # characters long. These names are used to calculate and expose statistics
    # about Workers, and provide visibility into the state of each Worker.
    # Examples of friendly names include: `on-call`, `break`, and `email`.
    # @param [TrueClass | FalseClass] available Optional parameter: Whether the
    # Worker should be eligible to receive a Task when it occupies the Activity.
    # A value of `true`, `1`, or `yes` specifies the Activity is available. All
    # other values specify that it is not. The value cannot be changed after the
    # Activity is created.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_activity(workspace_sid,
                        friendly_name,
                        available: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Workspaces/{WorkspaceSid}/Activities',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName')
                                .is_required(true))
                   .form_param(new_parameter(available, key: 'Available'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Activity.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
