# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # TaskrouterV1TaskQueueApi
  class TaskrouterV1TaskQueueApi < BaseApi
    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the TaskQueue to fetch.
    # @param [String] sid Required parameter: The SID of the TaskQueue resource
    # to fetch.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_task_queue(workspace_sid,
                         sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(TaskQueue.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the TaskQueue to update.
    # @param [String] sid Required parameter: The SID of the TaskQueue resource
    # to update.
    # @param [String] friendly_name Optional parameter: A descriptive string
    # that you create to describe the TaskQueue. For example `Support-Tier 1`,
    # `Sales`, or `Escalation`.
    # @param [String] target_workers Optional parameter: A string describing the
    # Worker selection criteria for any Tasks that enter the TaskQueue. For
    # example '"language" == "spanish"' If no TargetWorkers parameter is
    # provided, Tasks will wait in the queue until they are either deleted or
    # moved to another queue. Additional examples on how to describing Worker
    # selection criteria below.
    # @param [String] reservation_activity_sid Optional parameter: The SID of
    # the Activity to assign Workers when a task is reserved for them.
    # @param [String] assignment_activity_sid Optional parameter: The SID of the
    # Activity to assign Workers when a task is assigned for them.
    # @param [Integer] max_reserved_workers Optional parameter: The maximum
    # number of Workers to create reservations for the assignment of a task
    # while in the queue. Maximum of 50.
    # @param [TaskQueueTaskOrder] task_order Optional parameter: How Tasks will
    # be assigned to Workers. Set this parameter to `LIFO` to assign most
    # recently created Task first or `FIFO` to assign the oldest Task. Default
    # is FIFO. [Click
    # here](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first-out
    # -lifo) to learn more.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_task_queue(workspace_sid,
                          sid,
                          friendly_name: nil,
                          target_workers: nil,
                          reservation_activity_sid: nil,
                          assignment_activity_sid: nil,
                          max_reserved_workers: nil,
                          task_order: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .form_param(new_parameter(target_workers, key: 'TargetWorkers'))
                   .form_param(new_parameter(reservation_activity_sid, key: 'ReservationActivitySid'))
                   .form_param(new_parameter(assignment_activity_sid, key: 'AssignmentActivitySid'))
                   .form_param(new_parameter(max_reserved_workers, key: 'MaxReservedWorkers'))
                   .form_param(new_parameter(task_order, key: 'TaskOrder'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(TaskQueue.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the TaskQueue to delete.
    # @param [String] sid Required parameter: The SID of the TaskQueue resource
    # to delete.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_task_queue(workspace_sid,
                          sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the TaskQueue to read.
    # @param [String] friendly_name Optional parameter: The `friendly_name` of
    # the TaskQueue resources to read.
    # @param [String] evaluate_worker_attributes Optional parameter: The
    # attributes of the Workers to read. Returns the TaskQueues with Workers
    # that match the attributes specified in this parameter.
    # @param [String] worker_sid Optional parameter: The SID of the Worker with
    # the TaskQueue resources to read.
    # @param [String] ordering Optional parameter: Sorting parameter for
    # TaskQueues
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 1000.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_task_queue(workspace_sid,
                        friendly_name: nil,
                        evaluate_worker_attributes: nil,
                        worker_sid: nil,
                        ordering: nil,
                        page_size: nil,
                        page: nil,
                        page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/TaskQueues',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .query_param(new_parameter(evaluate_worker_attributes, key: 'EvaluateWorkerAttributes'))
                   .query_param(new_parameter(worker_sid, key: 'WorkerSid'))
                   .query_param(new_parameter(ordering, key: 'Ordering'))
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListTaskQueueResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # that the new TaskQueue belongs to.
    # @param [String] friendly_name Required parameter: A descriptive string
    # that you create to describe the TaskQueue. For example `Support-Tier 1`,
    # `Sales`, or `Escalation`.
    # @param [String] target_workers Optional parameter: A string that describes
    # the Worker selection criteria for any Tasks that enter the TaskQueue. For
    # example, `'"language" == "spanish"'`. The default value is `1==1`. If this
    # value is empty, Tasks will wait in the TaskQueue until they are deleted or
    # moved to another TaskQueue. For more information about Worker selection,
    # see [Describing Worker selection
    # criteria](https://www.twilio.com/docs/taskrouter/api/taskqueues#target-wor
    # kers).
    # @param [Integer] max_reserved_workers Optional parameter: The maximum
    # number of Workers to reserve for the assignment of a Task in the queue.
    # Can be an integer between 1 and 50, inclusive and defaults to 1.
    # @param [TaskQueueTaskOrder] task_order Optional parameter: How Tasks will
    # be assigned to Workers. Set this parameter to `LIFO` to assign most
    # recently created Task first or `FIFO` to assign the oldest Task. Default
    # is FIFO. [Click
    # here](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first-out
    # -lifo) to learn more.
    # @param [String] reservation_activity_sid Optional parameter: The SID of
    # the Activity to assign Workers when a task is reserved for them.
    # @param [String] assignment_activity_sid Optional parameter: The SID of the
    # Activity to assign Workers when a task is assigned to them.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_task_queue(workspace_sid,
                          friendly_name,
                          target_workers: nil,
                          max_reserved_workers: nil,
                          task_order: nil,
                          reservation_activity_sid: nil,
                          assignment_activity_sid: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Workspaces/{WorkspaceSid}/TaskQueues',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName')
                                .is_required(true))
                   .form_param(new_parameter(target_workers, key: 'TargetWorkers'))
                   .form_param(new_parameter(max_reserved_workers, key: 'MaxReservedWorkers'))
                   .form_param(new_parameter(task_order, key: 'TaskOrder'))
                   .form_param(new_parameter(reservation_activity_sid, key: 'ReservationActivitySid'))
                   .form_param(new_parameter(assignment_activity_sid, key: 'AssignmentActivitySid'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(TaskQueue.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
