# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # TaskrouterV1TaskChannelApi
  class TaskrouterV1TaskChannelApi < BaseApi
    # Types of tasks
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Task Channel to fetch.
    # @param [String] sid Required parameter: The SID of the Task Channel
    # resource to fetch.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_task_channel(workspace_sid,
                           sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/TaskChannels/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(TaskChannel.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Types of tasks
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Task Channel to update.
    # @param [String] sid Required parameter: The SID of the Task Channel
    # resource to update.
    # @param [String] friendly_name Optional parameter: A descriptive string
    # that you create to describe the Task Channel. It can be up to 64
    # characters long.
    # @param [TrueClass | FalseClass] channel_optimized_routing Optional
    # parameter: Whether the TaskChannel should prioritize Workers that have
    # been idle. If `true`, Workers that have been idle the longest are
    # prioritized.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_task_channel(workspace_sid,
                            sid,
                            friendly_name: nil,
                            channel_optimized_routing: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Workspaces/{WorkspaceSid}/TaskChannels/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .form_param(new_parameter(channel_optimized_routing, key: 'ChannelOptimizedRouting'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(TaskChannel.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Types of tasks
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Task Channel to delete.
    # @param [String] sid Required parameter: The SID of the Task Channel
    # resource to delete.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_task_channel(workspace_sid,
                            sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/Workspaces/{WorkspaceSid}/TaskChannels/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true))
        .execute
    end

    # Types of tasks
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Task Channel to read.
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 1000.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_task_channel(workspace_sid,
                          page_size: nil,
                          page: nil,
                          page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/TaskChannels',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListTaskChannelResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Types of tasks
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # that the new Task Channel belongs to.
    # @param [String] friendly_name Required parameter: A descriptive string
    # that you create to describe the Task Channel. It can be up to 64
    # characters long.
    # @param [String] unique_name Required parameter: An application-defined
    # string that uniquely identifies the Task Channel, such as `voice` or
    # `sms`.
    # @param [TrueClass | FalseClass] channel_optimized_routing Optional
    # parameter: Whether the Task Channel should prioritize Workers that have
    # been idle. If `true`, Workers that have been idle the longest are
    # prioritized.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_task_channel(workspace_sid,
                            friendly_name,
                            unique_name,
                            channel_optimized_routing: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Workspaces/{WorkspaceSid}/TaskChannels',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName')
                                .is_required(true))
                   .form_param(new_parameter(unique_name, key: 'UniqueName')
                                .is_required(true))
                   .form_param(new_parameter(channel_optimized_routing, key: 'ChannelOptimizedRouting'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(TaskChannel.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
