# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # TaskrouterV1WorkerApi
  class TaskrouterV1WorkerApi < BaseApi
    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Workers to read.
    # @param [String] activity_name Optional parameter: The `activity_name` of
    # the Worker resources to read.
    # @param [String] activity_sid Optional parameter: The `activity_sid` of the
    # Worker resources to read.
    # @param [String] available Optional parameter: Whether to return only
    # Worker resources that are available or unavailable. Can be `true`, `1`, or
    # `yes` to return Worker resources that are available, and `false`, or any
    # value returns the Worker resources that are not available.
    # @param [String] friendly_name Optional parameter: The `friendly_name` of
    # the Worker resources to read.
    # @param [String] target_workers_expression Optional parameter: Filter by
    # Workers that would match an expression. In addition to fields in the
    # workers' attributes, the expression can include the following worker
    # fields: `sid`, `friendly_name`, `activity_sid`, or `activity_name`
    # @param [String] task_queue_name Optional parameter: The `friendly_name` of
    # the TaskQueue that the Workers to read are eligible for.
    # @param [String] task_queue_sid Optional parameter: The SID of the
    # TaskQueue that the Workers to read are eligible for.
    # @param [String] ordering Optional parameter: Sorting parameter for
    # Workers
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 1000.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_worker(workspace_sid,
                    activity_name: nil,
                    activity_sid: nil,
                    available: nil,
                    friendly_name: nil,
                    target_workers_expression: nil,
                    task_queue_name: nil,
                    task_queue_sid: nil,
                    ordering: nil,
                    page_size: nil,
                    page: nil,
                    page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/Workers',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(activity_name, key: 'ActivityName'))
                   .query_param(new_parameter(activity_sid, key: 'ActivitySid'))
                   .query_param(new_parameter(available, key: 'Available'))
                   .query_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .query_param(new_parameter(target_workers_expression, key: 'TargetWorkersExpression'))
                   .query_param(new_parameter(task_queue_name, key: 'TaskQueueName'))
                   .query_param(new_parameter(task_queue_sid, key: 'TaskQueueSid'))
                   .query_param(new_parameter(ordering, key: 'Ordering'))
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListWorkerResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # that the new Worker belongs to.
    # @param [String] friendly_name Required parameter: A descriptive string
    # that you create to describe the new Worker. It can be up to 64 characters
    # long.
    # @param [String] activity_sid Optional parameter: The SID of a valid
    # Activity that will describe the new Worker's initial state. See
    # [Activities](https://www.twilio.com/docs/taskrouter/api/activity) for more
    # information. If not provided, the new Worker's initial state is the
    # `default_activity_sid` configured on the Workspace.
    # @param [String] attributes Optional parameter: A valid JSON string that
    # describes the new Worker. For example: `{ "email": "Bob@example.com",
    # "phone": "+5095551234" }`. This data is passed to the
    # `assignment_callback_url` when TaskRouter assigns a Task to the Worker.
    # Defaults to {}.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_worker(workspace_sid,
                      friendly_name,
                      activity_sid: nil,
                      attributes: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Workspaces/{WorkspaceSid}/Workers',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName')
                                .is_required(true))
                   .form_param(new_parameter(activity_sid, key: 'ActivitySid'))
                   .form_param(new_parameter(attributes, key: 'Attributes'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Worker.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Worker to fetch.
    # @param [String] sid Required parameter: The SID of the Worker resource to
    # fetch.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_worker(workspace_sid,
                     sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/Workers/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Worker.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Worker to update.
    # @param [String] sid Required parameter: The SID of the Worker resource to
    # update.
    # @param [String] if_match Optional parameter: The If-Match HTTP request
    # header
    # @param [String] activity_sid Optional parameter: The SID of a valid
    # Activity that will describe the Worker's initial state. See
    # [Activities](https://www.twilio.com/docs/taskrouter/api/activity) for more
    # information.
    # @param [String] attributes Optional parameter: The JSON string that
    # describes the Worker. For example: `{ "email": "Bob@example.com", "phone":
    # "+5095551234" }`. This data is passed to the `assignment_callback_url`
    # when TaskRouter assigns a Task to the Worker. Defaults to {}.
    # @param [String] friendly_name Optional parameter: A descriptive string
    # that you create to describe the Worker. It can be up to 64 characters
    # long.
    # @param [TrueClass | FalseClass] reject_pending_reservations Optional
    # parameter: Whether to reject the Worker's pending reservations. This
    # option is only valid if the Worker's new
    # [Activity](https://www.twilio.com/docs/taskrouter/api/activity) resource
    # has its `availability` property set to `False`.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_worker(workspace_sid,
                      sid,
                      if_match: nil,
                      activity_sid: nil,
                      attributes: nil,
                      friendly_name: nil,
                      reject_pending_reservations: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Workspaces/{WorkspaceSid}/Workers/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter(if_match, key: 'If-Match'))
                   .form_param(new_parameter(activity_sid, key: 'ActivitySid'))
                   .form_param(new_parameter(attributes, key: 'Attributes'))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .form_param(new_parameter(reject_pending_reservations, key: 'RejectPendingReservations'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Worker.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Worker to delete.
    # @param [String] sid Required parameter: The SID of the Worker resource to
    # delete.
    # @param [String] if_match Optional parameter: The If-Match HTTP request
    # header
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_worker(workspace_sid,
                      sid,
                      if_match: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/Workspaces/{WorkspaceSid}/Workers/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter(if_match, key: 'If-Match'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true))
        .execute
    end
  end
end
