# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # TaskrouterV1TaskQueueBulkRealTimeStatisticsApi
  class TaskrouterV1TaskQueueBulkRealTimeStatisticsApi < BaseApi
    # Fetch a Task Queue Real Time Statistics in bulk for the array of TaskQueue
    # SIDs, support upto 50 in a request.
    # @param [String] workspace_sid Required parameter: The unique SID
    # identifier of the Workspace.
    # @param [Object] body Optional parameter: TODO: type description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_task_queue_bulk_real_time_statistics(workspace_sid,
                                                    body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Workspaces/{WorkspaceSid}/TaskQueues/RealTimeStatistics',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(APIHelper.method(:json_serialize))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(TaskQueueBulkRealTimeStatistics.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
