# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # TaskrouterV1WorkflowApi
  class TaskrouterV1WorkflowApi < BaseApi
    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Workflow to fetch.
    # @param [String] sid Required parameter: The SID of the Workflow resource
    # to fetch.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_workflow(workspace_sid,
                       sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/Workflows/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Workflow.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Workflow to update.
    # @param [String] sid Required parameter: The SID of the Workflow resource
    # to update.
    # @param [String] friendly_name Optional parameter: A descriptive string
    # that you create to describe the Workflow resource. For example, `Inbound
    # Call Workflow` or `2014 Outbound Campaign`.
    # @param [String] assignment_callback_url Optional parameter: The URL from
    # your application that will process task assignment events. See [Handling
    # Task Assignment
    # Callback](https://www.twilio.com/docs/taskrouter/handle-assignment-callbac
    # ks) for more details.
    # @param [String] fallback_assignment_callback_url Optional parameter: The
    # URL that we should call when a call to the `assignment_callback_url`
    # fails.
    # @param [String] configuration Optional parameter: A JSON string that
    # contains the rules to apply to the Workflow. See [Configuring
    # Workflows](https://www.twilio.com/docs/taskrouter/workflow-configuration)
    # for more information.
    # @param [Integer] task_reservation_timeout Optional parameter: How long
    # TaskRouter will wait for a confirmation response from your application
    # after it assigns a Task to a Worker. Can be up to `86,400` (24 hours) and
    # the default is `120`.
    # @param [String] re_evaluate_tasks Optional parameter: Whether or not to
    # re-evaluate Tasks. The default is `false`, which means Tasks in the
    # Workflow will not be processed through the assignment loop again.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_workflow(workspace_sid,
                        sid,
                        friendly_name: nil,
                        assignment_callback_url: nil,
                        fallback_assignment_callback_url: nil,
                        configuration: nil,
                        task_reservation_timeout: nil,
                        re_evaluate_tasks: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Workspaces/{WorkspaceSid}/Workflows/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .form_param(new_parameter(assignment_callback_url, key: 'AssignmentCallbackUrl'))
                   .form_param(new_parameter(fallback_assignment_callback_url, key: 'FallbackAssignmentCallbackUrl'))
                   .form_param(new_parameter(configuration, key: 'Configuration'))
                   .form_param(new_parameter(task_reservation_timeout, key: 'TaskReservationTimeout'))
                   .form_param(new_parameter(re_evaluate_tasks, key: 'ReEvaluateTasks'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Workflow.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Workflow to delete.
    # @param [String] sid Required parameter: The SID of the Workflow resource
    # to delete.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_workflow(workspace_sid,
                        sid)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/Workspaces/{WorkspaceSid}/Workflows/{Sid}',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(sid, key: 'Sid')
                                    .is_required(true)
                                    .should_encode(true))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Workflow to read.
    # @param [String] friendly_name Optional parameter: The `friendly_name` of
    # the Workflow resources to read.
    # @param [Integer] page_size Optional parameter: How many resources to
    # return in each list page. The default is 50, and the maximum is 1000.
    # @param [Integer] page Optional parameter: The page index. This value is
    # simply for client state.
    # @param [String] page_token Optional parameter: The page token. This is
    # provided by the API.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_workflow(workspace_sid,
                      friendly_name: nil,
                      page_size: nil,
                      page: nil,
                      page_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/Workflows',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(friendly_name, key: 'FriendlyName'))
                   .query_param(new_parameter(page_size, key: 'PageSize'))
                   .query_param(new_parameter(page, key: 'Page'))
                   .query_param(new_parameter(page_token, key: 'PageToken'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListWorkflowResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # that the new Workflow to create belongs to.
    # @param [String] friendly_name Required parameter: A descriptive string
    # that you create to describe the Workflow resource. For example, `Inbound
    # Call Workflow` or `2014 Outbound Campaign`.
    # @param [String] configuration Required parameter: A JSON string that
    # contains the rules to apply to the Workflow. See [Configuring
    # Workflows](https://www.twilio.com/docs/taskrouter/workflow-configuration)
    # for more information.
    # @param [String] assignment_callback_url Optional parameter: The URL from
    # your application that will process task assignment events. See [Handling
    # Task Assignment
    # Callback](https://www.twilio.com/docs/taskrouter/handle-assignment-callbac
    # ks) for more details.
    # @param [String] fallback_assignment_callback_url Optional parameter: The
    # URL that we should call when a call to the `assignment_callback_url`
    # fails.
    # @param [Integer] task_reservation_timeout Optional parameter: How long
    # TaskRouter will wait for a confirmation response from your application
    # after it assigns a Task to a Worker. Can be up to `86,400` (24 hours) and
    # the default is `120`.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_workflow(workspace_sid,
                        friendly_name,
                        configuration,
                        assignment_callback_url: nil,
                        fallback_assignment_callback_url: nil,
                        task_reservation_timeout: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/Workspaces/{WorkspaceSid}/Workflows',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(friendly_name, key: 'FriendlyName')
                                .is_required(true))
                   .form_param(new_parameter(configuration, key: 'Configuration')
                                .is_required(true))
                   .form_param(new_parameter(assignment_callback_url, key: 'AssignmentCallbackUrl'))
                   .form_param(new_parameter(fallback_assignment_callback_url, key: 'FallbackAssignmentCallbackUrl'))
                   .form_param(new_parameter(task_reservation_timeout, key: 'TaskReservationTimeout'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Workflow.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
