# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # TaskrouterV1WorkflowRealTimeStatisticsApi
  class TaskrouterV1WorkflowRealTimeStatisticsApi < BaseApi
    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the Workflow to fetch.
    # @param [String] workflow_sid Required parameter: Returns the list of Tasks
    # that are being controlled by the Workflow with the specified SID value.
    # @param [String] task_channel Optional parameter: Only calculate real-time
    # statistics on this TaskChannel. Can be the TaskChannel's SID or its
    # `unique_name`, such as `voice`, `sms`, or `default`.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_workflow_real_time_statistics(workspace_sid,
                                            workflow_sid,
                                            task_channel: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/Workflows/{WorkflowSid}/RealTimeStatistics',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(workflow_sid, key: 'WorkflowSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(task_channel, key: 'TaskChannel'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(WorkflowRealTimeStatistics.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
