# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # TaskrouterV1WorkerStatisticsApi
  class TaskrouterV1WorkerStatisticsApi < BaseApi
    # TODO: type endpoint description here
    # @param [String] workspace_sid Required parameter: The SID of the Workspace
    # with the WorkerChannel to fetch.
    # @param [String] worker_sid Required parameter: The SID of the Worker with
    # the WorkerChannel to fetch.
    # @param [Integer] minutes Optional parameter: Only calculate statistics
    # since this many minutes in the past. The default 15 minutes. This is
    # helpful for displaying statistics for the last 15 minutes, 240 minutes (4
    # hours), and 480 minutes (8 hours) to see trends.
    # @param [DateTime] start_date Optional parameter: Only calculate statistics
    # from this date and time and later, specified in [ISO
    # 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
    # @param [DateTime] end_date Optional parameter: Only include usage that
    # occurred on or before this date, specified in GMT as an [ISO
    # 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.
    # @param [String] task_channel Optional parameter: Only calculate statistics
    # on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`,
    # such as `voice`, `sms`, or `default`.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def fetch_worker_instance_statistics(workspace_sid,
                                         worker_sid,
                                         minutes: nil,
                                         start_date: nil,
                                         end_date: nil,
                                         task_channel: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/Workspaces/{WorkspaceSid}/Workers/{WorkerSid}/Statistics',
                                     Server::DEFAULT4)
                   .template_param(new_parameter(workspace_sid, key: 'WorkspaceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(worker_sid, key: 'WorkerSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(minutes, key: 'Minutes'))
                   .query_param(new_parameter(start_date, key: 'StartDate'))
                   .query_param(new_parameter(end_date, key: 'EndDate'))
                   .query_param(new_parameter(task_channel, key: 'TaskChannel'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(WorkerInstanceStatistics.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
