# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # VerifyV2VerificationApi
  class VerifyV2VerificationApi < BaseApi
    # Create a new Verification using a Service
    # @param [String] service_sid Required parameter: The SID of the
    # verification [Service](https://www.twilio.com/docs/verify/api/service) to
    # create the resource under.
    # @param [String] to Required parameter: The phone number or
    # [email](https://www.twilio.com/docs/verify/email) to verify. Phone numbers
    # must be in [E.164
    # format](https://www.twilio.com/docs/glossary/what-e164).
    # @param [String] channel Required parameter: The verification method to
    # use. One of: [`email`](https://www.twilio.com/docs/verify/email), `sms`,
    # `whatsapp`, `call`, `sna` or `auto`.
    # @param [String] custom_friendly_name Optional parameter: A custom user
    # defined friendly name that overwrites the existing one in the verification
    # message
    # @param [String] custom_message Optional parameter: The text of a custom
    # message to use for the verification.
    # @param [String] send_digits Optional parameter: The digits to send after a
    # phone call is answered, for example, to dial an extension. For more
    # information, see the Programmable Voice documentation of
    # [sendDigits](https://www.twilio.com/docs/voice/twiml/number#attributes-sen
    # dDigits).
    # @param [String] locale Optional parameter: Locale will automatically
    # resolve based on phone number country code for SMS, WhatsApp, and call
    # channel verifications. It will fallback to English or the template’s
    # default translation if the selected translation is not available. This
    # parameter will override the automatic locale resolution. [See supported
    # languages and more information
    # here](https://www.twilio.com/docs/verify/supported-languages).
    # @param [String] custom_code Optional parameter: A pre-generated code to
    # use for verification. The code can be between 4 and 10 characters,
    # inclusive.
    # @param [String] amount Optional parameter: The amount of the associated
    # PSD2 compliant transaction. Requires the PSD2 Service flag enabled.
    # @param [String] payee Optional parameter: The payee of the associated PSD2
    # compliant transaction. Requires the PSD2 Service flag enabled.
    # @param [Object] rate_limits Optional parameter: The custom key-value pairs
    # of Programmable Rate Limits. Keys correspond to `unique_name` fields
    # defined when [creating your Rate
    # Limit](https://www.twilio.com/docs/verify/api/service-rate-limits).
    # Associated value pairs represent values in the request that you are rate
    # limiting on. You may include multiple Rate Limit values in each request.
    # @param [Object] channel_configuration Optional parameter:
    # [`email`](https://www.twilio.com/docs/verify/email) channel configuration
    # in json format. The fields 'from' and 'from_name' are optional but if
    # included the 'from' field must have a valid email address.
    # @param [String] app_hash Optional parameter: Your [App
    # Hash](https://developers.google.com/identity/sms-retriever/verify#computin
    # g_your_apps_hash_string) to be appended at the end of your verification
    # SMS body. Applies only to SMS. Example SMS body: `<#> Your AppName
    # verification code is: 1234 He42w354ol9`.
    # @param [String] template_sid Optional parameter: The message
    # [template](https://www.twilio.com/docs/verify/api/templates). If provided,
    # will override the default template for the Service. SMS and Voice channels
    # only.
    # @param [String] template_custom_substitutions Optional parameter: A
    # stringified JSON object in which the keys are the template's special
    # variables and the values are the variables substitutions.
    # @param [String] device_ip Optional parameter: Strongly encouraged if using
    # the auto channel. The IP address of the client's device. If provided, it
    # has to be a valid IPv4 or IPv6 address.
    # @param [TrueClass | FalseClass] enable_sna_client_token Optional
    # parameter: An optional Boolean value to indicate the requirement of sna
    # client token in the SNA URL invocation response for added security. This
    # token must match in the Verification Check request to confirm phone number
    # verification.
    # @param [VerificationEnumRiskCheck] risk_check Optional parameter:
    # Risk_check overrides Fraud Prevention measures like Fraud Guard, Geo
    # Permissions etc per verification attempt basis, allowing Verify to block
    # traffic considered fraudulent if enabled or bypass active protections if
    # disabled. Can be: `enable`(default) or `disable`. For SMS channel only.
    # @param [String] tags Optional parameter: A string containing a JSON map of
    # key value pairs of tags to be recorded as metadata for the message. The
    # object may contain up to 10 tags. Keys and values can each be up to 128
    # characters in length.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_verification(service_sid,
                            to,
                            channel,
                            custom_friendly_name: nil,
                            custom_message: nil,
                            send_digits: nil,
                            locale: nil,
                            custom_code: nil,
                            amount: nil,
                            payee: nil,
                            rate_limits: nil,
                            channel_configuration: nil,
                            app_hash: nil,
                            template_sid: nil,
                            template_custom_substitutions: nil,
                            device_ip: nil,
                            enable_sna_client_token: nil,
                            risk_check: nil,
                            tags: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v2/Services/{ServiceSid}/Verifications',
                                     Server::DEFAULT5)
                   .template_param(new_parameter(service_sid, key: 'ServiceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(to, key: 'To')
                                .is_required(true))
                   .form_param(new_parameter(channel, key: 'Channel')
                                .is_required(true))
                   .form_param(new_parameter(custom_friendly_name, key: 'CustomFriendlyName'))
                   .form_param(new_parameter(custom_message, key: 'CustomMessage'))
                   .form_param(new_parameter(send_digits, key: 'SendDigits'))
                   .form_param(new_parameter(locale, key: 'Locale'))
                   .form_param(new_parameter(custom_code, key: 'CustomCode'))
                   .form_param(new_parameter(amount, key: 'Amount'))
                   .form_param(new_parameter(payee, key: 'Payee'))
                   .form_param(new_parameter(rate_limits, key: 'RateLimits'))
                   .form_param(new_parameter(channel_configuration, key: 'ChannelConfiguration'))
                   .form_param(new_parameter(app_hash, key: 'AppHash'))
                   .form_param(new_parameter(template_sid, key: 'TemplateSid'))
                   .form_param(new_parameter(template_custom_substitutions, key: 'TemplateCustomSubstitutions'))
                   .form_param(new_parameter(device_ip, key: 'DeviceIp'))
                   .form_param(new_parameter(enable_sna_client_token, key: 'EnableSnaClientToken'))
                   .form_param(new_parameter(risk_check, key: 'RiskCheck'))
                   .form_param(new_parameter(tags, key: 'Tags'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Verification.method(:from_hash))
                    .is_api_response(true)
                    .local_error('429',
                                 'Too Many Requests',
                                 V2ServicesVerifications429ErrorException))
        .execute
    end
  end
end
