# twilio_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module TwilioApIs
  # VerifyV2VerificationCheckApi
  class VerifyV2VerificationCheckApi < BaseApi
    # challenge a specific Verification Check.
    # @param [String] service_sid Required parameter: The SID of the
    # verification [Service](https://www.twilio.com/docs/verify/api/service) to
    # create the resource under.
    # @param [String] code Optional parameter: The 4-10 character string being
    # verified.
    # @param [String] to Optional parameter: The phone number or
    # [email](https://www.twilio.com/docs/verify/email) to verify. Either this
    # parameter or the `verification_sid` must be specified. Phone numbers must
    # be in [E.164 format](https://www.twilio.com/docs/glossary/what-e164).
    # @param [String] verification_sid Optional parameter: A SID that uniquely
    # identifies the Verification Check. Either this parameter or the `to` phone
    # number/[email](https://www.twilio.com/docs/verify/email) must be
    # specified.
    # @param [String] amount Optional parameter: The amount of the associated
    # PSD2 compliant transaction. Requires the PSD2 Service flag enabled.
    # @param [String] payee Optional parameter: The payee of the associated PSD2
    # compliant transaction. Requires the PSD2 Service flag enabled.
    # @param [String] sna_client_token Optional parameter: A sna client token
    # received in sna url invocation response needs to be passed in Verification
    # Check request and should match to get successful response.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_verification_check(service_sid,
                                  code: nil,
                                  to: nil,
                                  verification_sid: nil,
                                  amount: nil,
                                  payee: nil,
                                  sna_client_token: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v2/Services/{ServiceSid}/VerificationCheck',
                                     Server::DEFAULT5)
                   .template_param(new_parameter(service_sid, key: 'ServiceSid')
                                    .is_required(true)
                                    .should_encode(true))
                   .form_param(new_parameter(code, key: 'Code'))
                   .form_param(new_parameter(to, key: 'To'))
                   .form_param(new_parameter(verification_sid, key: 'VerificationSid'))
                   .form_param(new_parameter(amount, key: 'Amount'))
                   .form_param(new_parameter(payee, key: 'Payee'))
                   .form_param(new_parameter(sna_client_token, key: 'SnaClientToken'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('accountSid_authToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(VerificationCheck.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
